@charset "utf-8";
/* ################# Dark ################# */
@import url("dark.css");


/* font */
/* CJ ONLY ONE NEW FONT */
@font-face {
	font-family: 'CJONLYONENEWbody';
	font-style: normal;
	font-weight: 300;
	src: url(font/cj/CJONLYONENEWbodyLight.eot);
	src: url(font/cj/CJONLYONENEWbodyLight.eot?#iefix) format('embedded-opentype'),
		url(font/cj/CJONLYONENEWbodyLight.woff) format('woff'),
		url(font/cj/CJONLYONENEWbodyLight.ttf) format('truetype');
}

@font-face {
	font-family: 'CJONLYONENEWbody';
	font-style: normal;
	font-weight: 400;
	src: url(font/cj/CJONLYONENEWbodyRegular.eot);
	src: url(font/cj/CJONLYONENEWbodyRegular.eot?#iefix) format('embedded-opentype'),
		url(font/cj/CJONLYONENEWbodyRegular.woff) format('woff'),
		url(font/cj/CJONLYONENEWbodyRegular.ttf) format('truetype');
}


@font-face {
	font-family: 'CJONLYONENEWTitle';
	font-style: normal;
	font-weight: 400;
	src: url(font/cj/CJONLYONENEWtitleMedium.eot);
	src: url(font/cj/CJONLYONENEWtitleMedium.eot?#iefix) format('embedded-opentype'),
		url(font/cj/CJONLYONENEWtitleMedium.woff) format('woff'),
		url(font/cj/CJONLYONENEWtitleMedium.ttf) format('truetype');
}

@font-face {
	font-family: 'CJONLYONENEWTitle';
	font-style: normal;
	font-weight: 500;
	src: url(font/cj/CJONLYONENEWtitleBold.eot);
	src: url(font/cj/CJONLYONENEWtitleBold.eot?#iefix) format('embedded-opentype'),
		url(font/cj/CJONLYONENEWtitleBold.woff) format('woff'),
		url(font/cj/CJONLYONENEWtitleBold.ttf) format('truetype');
}


@font-face {
	font-family: 'CJONLYONENEWbodyOTF';
	font-style: normal;
  font-weight:300;
  src: url(font/cj/CJONLYONENEWbodyOTFLight.eot);
	src: url(font/cj/CJONLYONENEWbodyOTFLight.eot?#iefix) format('embedded-opentype'),
		url(font/cj/CJONLYONENEWbodyOTFLight.woff) format('woff'),
		url(font/cj/CJONLYONENEWbodyOTFLight.ttf) format('truetype');
}

@font-face {
	font-family: 'CJONLYONENEWbodyOTF';
	font-style: normal;
  font-weight:400;
  src: url(font/cj/CJONLYONENEWbodyOTFRegular.eot);
	src: url(font/cj/CJONLYONENEWbodyOTFRegular.eot?#iefix) format('embedded-opentype'),
		url(font/cj/CJONLYONENEWbodyOTFRegular.woff) format('woff'),
		url(font/cj/CJONLYONENEWbodyOTFRegular.ttf) format('truetype');
}

@font-face {
	font-family: 'CJONLYONENEWTitleOTF';
	font-style: normal;
  font-weight: 400;
  src: url(font/cj/CJONLYONENEWtitleOTFMedium.eot);
	src: url(font/cj/CJONLYONENEWtitleOTFMedium.eot?#iefix) format('embedded-opentype'),
		url(font/cj/CJONLYONENEWtitleOTFMedium.woff) format('woff'),
		url(font/cj/CJONLYONENEWtitleOTFMedium.ttf) format('truetype');
}
@font-face {
	font-family: 'CJONLYONENEWTitleOTF';
	font-style: normal;
  font-weight: 500;
  src: url(font/cj/CJONLYONENEWtitleOTFBold.eot);
	src: url(font/cj/CJONLYONENEWtitleOTFBold.eot?#iefix) format('embedded-opentype'),
		url(font/cj/CJONLYONENEWtitleOTFBold.woff) format('woff'),
		url(font/cj/CJONLYONENEWtitleOTFBold.ttf) format('truetype');
}


/* Gotham */

@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 300;
	src: url(font/gotham/GothamLight.eot);
	src: url(font/gotham/GothamLight.eot?#iefix) format('embedded-opentype'),
		url(font/gotham/GothamLight.woff) format('woff'),
		url(font/gotham/GothamLight.ttf) format('truetype');
}


@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	src: url(font/gotham/Gotham-Book.eot);
	src: url(font/gotham/Gotham-Book.eot?#iefix) format('embedded-opentype'),
		url(font/gotham/Gotham-Book.woff) format('woff'),
		url(font/gotham/Gotham-Book.ttf) format('truetype');
}

@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 500;
	src: url(font/gotham/Gotham-Medium.eot);
	src: url(font/gotham/Gotham-Medium.eot?#iefix) format('embedded-opentype'),
		url(font/gotham/Gotham-Medium.woff) format('woff'),
		url(font/gotham/Gotham-Medium.ttf) format('truetype');
}


@font-face {
	font-family: 'Gotham';
	font-style: normal;
  font-weight: 700;
	src: url(font/gotham/Gotham-Bold.eot);
	src: url(font/gotham/Gotham-Bold.eot?#iefix) format('embedded-opentype'),
		url(font/gotham/Gotham-Bold.woff) format('woff'),
		url(font/gotham/Gotham-Bold.ttf) format('truetype');
}




/* notosans */
/* noto-sans-kr-300 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('font/noto/noto-sans-kr-v12-korean-300.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
       url('font/noto/noto-sans-kr-v12-korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/noto/noto-sans-kr-v12-korean-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/noto/noto-sans-kr-v12-korean-300.woff') format('woff'), /* Modern Browsers */
       url('font/noto/noto-sans-kr-v12-korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('font/noto/noto-sans-kr-v12-korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-regular - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('font/noto/noto-sans-kr-v12-korean-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
       url('font/noto/noto-sans-kr-v12-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/noto/noto-sans-kr-v12-korean-regular.woff') format('woff'), /* Modern Browsers */
       url('font/noto/noto-sans-kr-v12-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('font/noto/noto-sans-kr-v12-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('font/noto/noto-sans-kr-v12-korean-500.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
       url('font/noto/noto-sans-kr-v12-korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/noto/noto-sans-kr-v12-korean-500.woff') format('woff'), /* Modern Browsers */
       url('font/noto/noto-sans-kr-v12-korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('font/noto/noto-sans-kr-v12-korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('font/noto/noto-sans-kr-v12-korean-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
       url('font/noto/noto-sans-kr-v12-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/noto/noto-sans-kr-v12-korean-700.woff') format('woff'), /* Modern Browsers */
       url('font/noto/noto-sans-kr-v12-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('font/noto/noto-sans-kr-v12-korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}



html, body {height:100%; width:100%;}
html {margin:0; padding:0;}
body {margin:0; padding:0; font-family:'Gotham', 'Noto Sans KR','dotum'; font-size:14px; line-height:1; font-weight:400; color:#45474e; background-color:#f0f4f8;}
input, select, textarea {font-family:'Gotham','Noto Sans KR','dotum'; vertical-align:middle;  border-radius:0; -webkit-appearance:none;}
select::-ms-expand {display: none;}
input::-ms-clear, input::-ms-reveal {display: none;}
h1,h2,h3,h4,h5,h6,p {padding:0; margin:0;}
ul,ol,li,dl,dt,dd {margin:0; padding:0; list-style:none;}
iframe {display:block; }
img {border:0;}
a,i,em {text-decoration:none;font-style:normal;}
table {border-collapse:collapse; border-spacing:0; }



/* margin */
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}
.mt40 {margin-top:40px !important;}

.ml30 {margin-left:30px !important;}


/* font */
.bold {font-weight:500 !important;}

/* color */
.point {color:#238cd0 !important;}
.sub_txt {color:#8b919c !important;}

.tar {text-align:right !important;}
.tal {text-align:left !important;}
.tac {text-align:center !important;}

.inblock {display:inline-block !important; vertical-align:middle;}
