@charset "UTF-8";

/* icon */
.calendar_wrap .ui-datepicker-calendar tbody td:after
{background-image:url(../images/spr_icon.png);}
/* input */
.ip_txt {padding:0 11px; width:100%; height:42px; color:#45474e; font-size:14px; border:solid 1px #dde2ea; background-color:#fff; box-sizing:border-box;}
.ip_txt::placeholder {font-size:14px; color:#9298a2;}
.ip_txt:disabled {background-color:#e6ebf1;}
.ip_search {width:100%; display:inline-block; position:relative;}
.ip_search .ip_txt {width:100%;}
.ip_search .btn_ip_search {font-size:0; position:absolute; top:0; right:0; width:42px; height:42px; background:url(../images/ip_search.png) no-repeat center center;}
textarea {width:100%; padding:15px; color:#45474e; font-size:14px; border:solid 1px #dde2ea; resize:none; background-color:#fff; box-sizing:border-box; }
.ip_date {width:100%; display:inline-block; position:relative; }
.ip_date .ip_txt {width:100%;}
.ip_date .ui-datepicker-trigger {position:absolute; top:13px; right:13px;}
.select {padding:0 11px; width:100%; height:42px; color:#45474e; font-size:14px; border:solid 1px #dde2ea; background:#fff url(../images/ip_select.png) no-repeat right 15px center; box-sizing:border-box; appearance:none; -webkit-appearance:none; }
.ip_check {position:relative;}
.ip_check input {opacity:0; position:absolute; top:0; left:0;}
.ip_check label {padding-left:22px; line-height:16px; display:inline-block; font-size:14px; color:#13161a; background-image:url(../images/check16.svg); background-repeat:no-repeat; background-size:16px;}
.ip_check input:checked+label {background-image:url(../images/checked.svg); }
.ip_check.sm label {line-height:12px; background-size:12px; background-image:url(../images/check.svg);}
.ip_check.sm+.ip_check.sm {margin-left:20px;}
.select_group {width:100%; position:relative; text-align:right; height:38px; display:inline-block; border:1px solid #dde2ea; background-color:#fff; box-sizing:border-box;}
.select_group .label {position:absolute; text-align:left; left:15px; line-height:38px; color:#8b919c;}
.select_group select {text-align:left; padding:0 15px; width:60%; font-size:14px; border:0; height:36px; color:#45474e; background:#fff url(../images/ip_select.png) no-repeat right 15px center; box-sizing:border-box; appearance:none; -webkit-appearance:none; }
.select.sm {padding:0 15px; height:38px;}
.radio_group {display:block; font-size:0;}
.radio_group>li {margin-right:10px; display:inline-block; vertical-align:middle; position:relative; }
.radio_group>li:last-child {margin-right:0;}
.radio_group>li input {position:absolute; opacity:0;}
.radio_group>li label {display:block; width:125px; height:45px; line-height:43px; font-size:15px; color:#8b919c; text-align:center;border:1px solid #8b919c; box-sizing:border-box;}
.radio_group>li input:checked+label {color:#fff; border-color:#0080c6; background-color:#0080c6;}

.ip_from_to {position:relative; display:inline-block; width:280px; height:42px; border:solid 1px #dde2ea; background-color:#fff; box-sizing:border-box;}
.ip_from_to .ip_txt {border:0; height:40px; width:120px;}
.ip_from_to .line {color:#8b919c; font-size:14px; line-height:40px; vertical-align:middle;}
.ip_from_to .btn_cal {position:absolute; top:0; right:0; display:inline-block; font-size:0; width:40px; height:40px; background:url(../images/ip_date.png) no-repeat center center;}

.ip_group {display:table; table-layout:fixed; width:100%; font-size:12px; color:#727679;}
.ip_group>li {display:table-cell;}
.ip_group>li.w30 {width:30px;}
.ip_group.type1>li {padding:0 2px;}
.ip_group.type1>li:first-child {padding-left:0;}
.ip_group.type1>li:last-child {padding-right:0;}

/* form */
.form_wrap {padding:5px 15px 35px;}
.tbl_form {width:100%; table-layout:fixed;}
.tbl_form td {padding:20px 20px 0; height:40px;}
.lb_txt {height:20px; display:inline-block; font-size:12px; color:#6b6e72; font-weight:500;}

.tit_wrap+.search_wrap {margin-top:20px;}
.search_wrap {font-size:0;}
.search_form>li {margin-right:15px; padding:21px 0 0 0; height:63px; display:inline-block; position:relative; box-sizing:border-box;}
.search_form>li .lb_txt {display:block; margin:0; position:absolute; top:0; left:0;}
.search_form>li .ip_txt+.ip_txt, .search_form>li .select+.ip_txt, .search_form>li .select+.ip_from_to {margin-left:10px;}
.search_form>li.btns .btn.lg+.btn.lg {margin-left:15px;}

/* button */
.btn {vertical-align:middle; text-align:center; display:inline-block; text-decoration:none; line-height:36px; font-size:14px; font-weight:500; padding:0 22px; color:#fff; height:36px; background-color:#0080c6; box-sizing:border-box;}
.btn.line {border:1px solid #dde2ea; color:#0080c6; background-color:#fff;}
.btn.sm {line-height:30px; padding:0 14px; font-size:13px;  height:32px;}
.btn.sm.ico_add, .btn.sm.ico_remove {width:32px; padding:0; font-size:0; position:relative;}
.btn.sm.ico_add:before, .btn.sm.ico_remove:before {content:""; position:absolute; top:50%; left:50%; margin:-1px 0 0 -6px; width:12px; height:2px; background:#0080c6;}
.btn.sm.ico_add:after {content:""; position:absolute; top:50%; left:50%; margin:-6px 0 0 -1px; width:2px; height:12px; background:#0080c6;}
.btn.lg {line-height:40px; padding:0 14px;  height:42px;}
.btn_list {display:inline-block; font-size:0;}
.btn_list .btn+.btn {margin-left:8px;}
.btn_list .btn.sm+.btn.sm {margin-left:5px;}

.btn.lg.ico_search {width:42px; font-size:0; background-image:url(../images/ico_search_w.svg); background-repeat:no-repeat; background-position:center center;}
.btn.lg.line.ico_reset {width:42px; font-size:0; background-image:url(../images/ico_reset.svg); background-repeat:no-repeat; background-position:center center;}
.btn.line.ico_search {width:42px; font-size:0; background-image:url(../images/ico_search_g.svg); background-repeat:no-repeat; background-position:center center;}

.btn_ico {line-height:20px; display:inline-block; font-size:14px; color:#45474e; background-repeat:no-repeat;}
.btn_ico.excel {padding-left:22px; background-image:url(../images/ico_bn_excel.svg);}

/* icon */
.ico {display:inline-block;}
.ico.arr_right {height:3px; width:20px; background:red;}

/* tab */
.search_wrap+.tab_wrapper {margin-top:18px;}
.tab_list {height:50px; border-bottom:1px solid #cad0d7;}
.tab_list li {display:inline-block; width:180px;height:50px;}
.tab_list li a {display:block; width:100%; height:100%; text-align:center; line-height:50px; font-size:16px; color: #9298a2;}
.tab_list li.on a {color:#0080c6; border-bottom:3px solid #0080c6; font-weight:500; box-sizing:border-box;}
.tab_list li a span {display:inline-block; margin-left:8px; line-height:19px; width:30px; height:20px; font-size:11px; border-radius:10px;border: solid 1px #d5d9df; box-sizing:border-box;}
.tab_list li.on a span {color:#fff; line-height:20px; background:#0080c6; border:0;}

/* table */
.tbl_rd_wrap {overflow:hidden;}
.tbl_rd {border:1px solid #e6ebf1;width:100%; table-layout:fixed; font-size:13px; background-color:#fff; color:#6b6e72;}
.tbl_rd thead th {padding:10px; height:15px; border-right:1px solid #e6ebf1;}
.tbl_rd thead tr+tr th {border-top:1px dotted #e6ebf1;}
.tbl_rd tbody td, .tbl_rd tfoot td {padding:10px; height:15px; border-right:1px solid #e6ebf1; border-top:1px solid #e6ebf1;}
.tbl_rd tbody tr:hover td {background-color:#eff2f6;}
.tbl_rd tfoot td {color:#45474e; font-weight:500;}


/* title */
.tit_wrap {display:table; width:100%; table-layout:fixed;}
.tit_wrap>div {display:table-cell; vertical-align:top;}
.tit_wrap>div.tit_left {}
.tit_wrap>div.tit_right {text-align:right;}
.tit_wrap h2 {vertical-align:middle; color:#000; font-stretch:normal; font-weight:500; font-size:35px; line-height:35px; display:inline-block;}
.tit_wrap .tit {font-size:20px; font-weight:500;}
.tit_wrap .total {margin-left:7px; vertical-align:middle; width:38px; height:38px; line-height:28px; text-align:center; font-weight:500; font-size:16px; color:#fff; display:inline-block; background-color:#0ac26f; border:5px solid #84e0b7; box-sizing:border-box; border-radius:50%;}
.tit_wrap .total_items {color:#8b919c; font-size:14px;}
.tit_wrap .total_items.indent {padding-left:10px;}
.tit_wrap h4 {vertical-align:middle; color:#000; font-stretch:normal; font-weight:500; font-size:20px; line-height:30px; display:inline-block;}

.tit_list>div {height:50px; vertical-align:middle;}

.list_opt {color:#45474e;}
.list_opt>li {display:inline-block; vertical-align:middle; position:relative;}
.list_opt>li+li {padding-left:20px;}
.list_opt>li+li:before {content:""; position:absolute; left:9px; top:0; display:block; width:1px; height:15px; background-color:#cad0d7;}
.sort_list {font-weight:500; color:#45474e; text-decoration:none;}
.sort_list:after {content:""; margin-left:4px; vertical-align:middle; display:inline-block; width:6px; height:11px; background:url(../images/ico_asc.svg) no-repeat 0 0;}
.sort_list.desc:after {background-image:url(../images/ico_desc.svg) }

/* box */
.box {display:block; min-height:100px; background-color:#fff; box-sizing:border-box;}
.box.bg_type1 {background-color:#e6ebf1;}
.box.bg_type2 {background-color:#0080c6;}
.box.bg_type3 {background-color:#e42f44;}
.box.bg_type4 {background-color:#ec8922;}
.box.shadow {box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.1);}
.box.line {border:1px solid #dde2ea;}

.search_wrap+.tit_box, .tit_box+.tit_box, .vendor_con_wrap+.tit_box {margin-top:30px;}
.tit_box {border:solid 1px #dde2ea; background-color:#fff; }
.tit_box .tit_area {display:table; width:100%; table-layout:fixed; border-bottom:1px solid #dee2e6;}
.tit_box .tit_area .tit_left {padding:10px 15px; display:table-cell; height:50px; vertical-align:middle; box-sizing:border-box;}
.tit_box .tit_area .tit_right {padding:10px 15px; display:table-cell; text-align:right; height:50px; box-sizing:border-box;}
.tit_box .tit_area .tit_left .tit {font-size: 16px; font-weight:500; color:#000;}
.tit_box .con_area {}
.tit_box .foot_area {height:50px; border-top:1px solid #dde2ea; box-sizing:border-box;}

.sub_box {height:198px; position:relative; padding:22px 20px; box-sizing:border-box;}
.sub_box .tit {color:#45474e; }
.sub_box .tit strong {display:block; width:260px; overflow:hidden; font-size:20px; font-weight:500; white-space:nowrap; }
.sub_box .tit span {display:block; margin-top:5px; font-size:12px;}
.sub_box .btn_bell {position:absolute; top:18px; right:18px; width:25px; height:25px; background:url(../images/ico_bell.svg) no-repeat;}
.sub_box .con {margin-top:20px; width:100%; display:table; table-layout:fixed;}
.sub_box .con>div {display:table-cell; vertical-align:top;}
.sub_box .result {padding-top:10px;}
.sub_box .result strong {font-size:50px; font-weight:500; }
.sub_box .result span {font-size:35px; color:#8b919c; font-weight:500; }
.sub_box .chart_area {height:105px; }

.list_sub {font-size:0; margin-top:10px;}
.list_sub>li {margin-top:20px; margin-right:20px; display:inline-block; vertical-align:middle; width:330px; box-sizing:border-box;}
.list_sub>li:nth-child(3n) {margin-right:0;}
.list_sub>li:nth-child(1),.list_sub>li:nth-child(2), .list_sub>li:nth-child(3) {margin-top:0;}
.list_sub>li .box.alarm {border-color:#ec8922;}
.list_sub>li .box.alarm .btn_bell {background-image:url(../images/ico_bell_on.svg)}
.list_sub>li.on .box .sub_box {border:solid 4px #0080c6; background-color:#dde2ea; }

/* pagination */
.pagination{display: inline-block;vertical-align: top;text-align: right;margin-right: 20px;}
.pagination a{display:inline-block;color: #727679;vertical-align:top;width:30px;height:30px;font-size:14px;line-height:30px;text-align:center;}
.pagination .active{display:inline-block;color:#fff;font-weight:bold;background-color: #a0a8b5;}
.pagination .arr{display:inline-block;width:30px;}
.pagination .arr:after{content:'';display:inline-block;width:30px;height:30px;background:url('../images/btn_next_40.svg') no-repeat;background-size:100%;}
.pagination .arr.prev:after{transform:rotate(180deg);}
.pagination .arr.first:after{background:url('../images/btn_prev_wh.svg') no-repeat;background-size:100%;transform:rotate(0deg);}
.pagination .arr.last:after{background:url('../images/btn_prev_wh.svg') no-repeat;background-size:100%;transform:rotate(180deg);}
/* select */
.box_select {position: relative;display: inline-block;width: 60px;background-color: #ecf0f5;}
.box_select .opt_select {position: relative;width: 60px;height: 30px;padding-left:10px;font-size: 14px;letter-spacing: 0.37px;color:#727679;border:0;border-radius: 5px;background-color: #ecf0f5; background: url(../images/ip_select.svg) right 10px center no-repeat; -webkit-appearance:none;-moz-appearance: none;appearance: none;}
.comm_paging{text-align: right;padding: 10px 0;}

/* main */
.main_wrap:after {content:""; display:block; clear:both; width:100%;}
.main_wrap>div {float:left;}
.main_wrap>div.main_left {width:1080px;}
.main_wrap>div.main_right {margin-left:60px; width:610px;}

.main_wrap>div.main_left .tit_wrap {margin-top:10px;}

.bx-wrapper {margin:0; box-shadow:none; border:0; background:transparent;}
.indicator_wrap {margin-top:20px;}
.indicator_wrap .bx-wrapper {margin:0; box-shadow:none; border:0; background:transparent;}
.indicator_wrap .bx-viewport {height:110px !important;}
.indicator_wrap .indicator_list>li>a {display:block;}

/*
.indicator_wrap>ul {font-size:0;}
.indicator_wrap>ul>li {margin-top:20px; margin-left:20px; width:255px; vertical-align:middle; display:inline-block; font-size:14px;}
.indicator_wrap>ul>li:nth-child(4n-3) {margin-left:0;}
*/
/*
.indicator_wrap>li:nth-child(1), .indicator_wrap>li:nth-child(2), .indicator_wrap>li:nth-child(3), .indicator_wrap>li:nth-child(4) {margin-top:0;}
*/

.live_wrap {font-size:0;}
.live_wrap>li {position:relative; margin-top:20px; width:530px; height:313px; vertical-align:middle; display:inline-block; font-size:14px;}
.live_wrap>li:nth-child(2n) {margin-left:20px;}
.live_wrap>li .bx-wrapper, .live_wrap>li .bx-viewport, .live_slider {height: 313px !important;}
.live_wrap .bx-pager {bottom:10px;}

.main_cols_4 {font-size:0;}
.main_cols_4>li {width:255px; vertical-align:middle; display:inline-block; font-size:14px;}
.main_cols_4>li+li {margin-left:20px;}

.main_cols_2 {font-size:0;}
.main_cols_2>li {width:530px; vertical-align:middle; display:inline-block; font-size:14px;}
.main_cols_2>li+li {margin-left:20px;}

.indi_tile {padding-left:95px; padding-top:25px; height:110px; position:relative; box-sizing:border-box;}
.indi_tile .img_indi {position:absolute; top:16px; left:16px; width:48px; height:48px;}
.indi_tile .num {display:block; line-height:1.25; font-family:'CJONLYONENEWtitleBold'; font-size:32px; color:#0d1327;}
.indi_tile .txt {margin-top:4px; width:150px; overflow:hidden; display:block; font-size:16px; color:#45474e; white-space:nowrap; }

.live_tile {height:313px; position:relative;}
.live_tile .tit_area {padding:30px 30px 0;}
.live_tile .tit_area .tit {font-size:22px; font-weight:500; display:inline-block; max-width:100%; overflow:hidden; white-space:nowrap;}
.live_tile .con {padding:27px 30px 0;}
.market_update {overflow:hidden;}
.market_update>img {float:left; width:180px; height:139px; }
.market_update>.txt {float:right; width:272px; height:146px; font-size:16px; line-height:1.38; color:#7e8184;}
.market_update .more {display:inline-block; padding-right:15px; position:absolute; right:30px; bottom:30px; font-weight:bold; font-size:13px; color:#7e8184; background:url(../images/ico_arr_more.svg) no-repeat right center;}

.st_tile {padding-top:156px; height:250px; position:relative; color:#fff; font-size:20px; font-weight:500;  text-decoration:none; text-align:center; box-sizing:border-box;}
.st_tile:before {content:""; top:50px; left:78px; position:absolute; display:inline-block; width:100px; height:100px; background-repeat:no-repeat;}
.st_tile.st_tracking:before {background-image:url(../images/ico_static_tracking.svg);}
.st_tile.st_ebooking:before {background-image:url(../images/ico_static_ebook.svg);}
.st_tile2 {position:relative; padding:61px 0 0 30px; height:115px; color:#45474e; font-size:20px; font-weight:500; line-height:1.2; text-decoration:none; box-sizing:border-box;}
.st_tile2>span {position:absolute; left:30px; bottom:30px; width:190px; overflow:hidden;}
.st_tile2:before {content:""; width:60px; height:60px; top:10px; right:10px; position:absolute; display:inline-block; background-repeat:no-repeat;}
.st_tile2.bg_type4 {color:#fff;}
.st_tile2.st_analytics:before {background-image:url("../images/ico_static_analytics.svg");}
.st_tile2.st_quotaion:before {background-image:url("../images/ico_static_quotation.svg");}
.st_tile2.st_kpi:before {background-image:url("../images/ico_static_kpi.svg");}
.st_tile2.st_dashboard:before {background-image:url("../images/ico_static_dashboard.svg");}
.st_tile2.st_volume:before {background-image:url("../images/ico_static_volume.svg");}
.st_tile2.st_schedule:before {background-image:url("../images/ico_static_schedule.svg");}
.st_tile2.st_cost:before {background-image:url("../images/ico_static_cost.svg");}

.st_tile2:hover {background-color:#f0f4f8; box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.1);}
.st_tile2.bg_type4:hover {background-color:#ec8922;}


.event_list {padding-left:33px; }
.event_list>li {position:relative; padding:12px 0 12px 0; border-bottom:1px solid rgba(147, 152, 163, 0.1); }
.event_list>li:before {content:""; position:absolute; top:12px; left:-33px; display:inline-block; width:16px; height:16px; }
.event_list>li.work:before {background:url(../images/ico_rm_work.svg) no-repeat 0 0;}
.event_list>li.msg:before {background:url(../images/ico_rm_msg.svg) no-repeat 0 0;}
.event_list>li.meeting:before {background:url(../images/ico_rm_meeting.svg) no-repeat 0 0;}
.event_list>li .tit {overflow:hidden;}
.event_list>li .tit .ctg {float:left;color:#45474e;}
.event_list>li .tit .date {float:right; color:#8b919c;}
.event_list>li .txt {margin-top:7px; font-size:18px; color:#45474e;}

.schedule_box {padding:46px 30px 0 35px; height:778px; box-sizing:border-box;}
.sched_wrap {height:440px;}
.sched_wrap .location {display:block; text-align:right;color:#45474e; font-size:16px; letter-spacing:0.55px; }
.sched_wrap .location:before {content:""; margin-right:5px; vertical-align:middle; display:inline-block; width:16px; height:16px; background:url(../images/ico_location.svg) no-repeat 0 0;}
.sched_wrap .tit_month {font-family:'CJONLYONENEWtitleBold'; font-size:28px; color:#000;}
.sched_wrap .tit_month>span {display:block;}
.sched_wrap .tit_month>span+span {margin-top:6px;}
.calendar_wrap .ui-datepicker-calendar {width:100%;}
.calendar_wrap .ui-datepicker-title {display:none;}
.calendar_wrap .ui-datepicker-header {text-align:right; margin-top:-25px;}
.calendar_wrap .ui-datepicker-prev, .calendar_wrap .ui-datepicker-next {font-size:0; display:inline-block; width:40px; height:40px; background:red;}
.calendar_wrap .ui-datepicker-prev {background:url(../images/btn_prev_40.svg) no-repeat;}
.calendar_wrap .ui-datepicker-next {background:url(../images/btn_next_40.svg) no-repeat;}
.calendar_wrap .ui-datepicker-calendar thead th {font-size:11px; font-weight:500; color:#8b919c;}
.calendar_wrap .ui-datepicker-calendar tbody td {height:50px; text-align:center; position:relative;}
.calendar_wrap .ui-datepicker-calendar tbody td a {display:inline-block; width:42px; height:42px; line-height:42px; font-size:16px; font-weight:500; text-decoration:none; color:#45474e; letter-spacing:0.49px; }
.calendar_wrap .ui-datepicker-calendar tbody td:nth-child(1) a, .calendar_wrap .ui-datepicker-calendar tbody td:nth-child(7) a {color:#99a1b2;}
.calendar_wrap .ui-datepicker-calendar tbody td:after {content:""; left:50%; bottom:10px; display:inline-block; position:absolute;}
.calendar_wrap .ui-datepicker-calendar tbody td.work:after {width:4px; height:4px; margin-left:-2px; background-position:-180px -270px;}
.calendar_wrap .ui-datepicker-calendar tbody td.msg:after {width:4px; height:4px; margin-left:-2px; background-position:-188px -270px;}
.calendar_wrap .ui-datepicker-calendar tbody td.meet:after {width:4px; height:4px; margin-left:-2px; background-position:-196px -270px;}
.calendar_wrap .ui-datepicker-calendar tbody td.work.meet:after {width:12px; margin-left:-6px; background-position:-180px -270px;}
.calendar_wrap .ui-datepicker-calendar tbody td.work.msg:after {width:12px; margin-left:-6px; background-position:-188px -270px;}
.calendar_wrap .ui-datepicker-calendar tbody td.meet.msg:after {width:12px; margin-left:-6px; background-position:-180px -274px;}
.calendar_wrap .ui-datepicker-calendar tbody td.work.meet.msg:after {width:20px;  margin-left:-10px; background-position:-180px -270px;}
.calendar_wrap .ui-datepicker-calendar .ui-state-active {background-color:#dde2ea;}
.calendar_wrap .ui-datepicker-calendar .ui-datepicker-today a {color:#0080c6 !important;}

.tbl_calendar {margin-top:30px; width:100%; table-layout:fixed; border-collaspe:collapse; }
.tbl_calendar thead th {font-size:11px; font-weight:500; color:#8b919c;}
.tbl_calendar tbody td {height:50px; text-align:center; position:relative;}
.tbl_calendar tbody td a {display:inline-block; width:42px; height:42px; line-height:42px; font-size:16px; font-weight:500; text-decoration:none; color:#45474e; letter-spacing:0.49px; border-radius:10px;}
.tbl_calendar tbody td.today a {color:#0080c6;}
.tbl_calendar tbody td.on a {background-color:#dde2ea;}
.tbl_calendar tbody td:nth-child(1) a, .tbl_calendar tbody td:nth-child(7) a {color:#99a1b2;}
.tbl_calendar .events {position:absolute; width:100%; text-align:center; bottom:7px;}
.tbl_calendar .events span {display:inline-block; width:4px; height:4px; border-radius:2px;}
.tbl_calendar .events span.meet {background-color:#0080c6;}
.tbl_calendar .events span.work {background-color:#e42f44;}
.tbl_calendar .events span.msg {background-color:#ec8922;}
.tbl_calendar .events span.more {width:auto; height:auto; }
.calendar_btns {text-align:right; margin-top:-30px;}
.calendar_btns a {display:inline-block; font-size:0; display:inline-block; width:40px; height:40px;}
.calendar_btns .btn_prev_month {background:url(../images/btn_prev_40.svg) no-repeat;}
.calendar_btns .btn_next_month {background:url(../images/btn_next_40.svg) no-repeat;}

.scr_box {height:245px; }
.tit_wrap+.scr_box {margin-top:10px;}

.scr_box .mCSB_inside>.mCSB_container {margin-right:10px;}
.scr_box .mCSB_scrollTools {right:0px; width:3px;}
.scr_box .mCSB_scrollTools .mCSB_draggerRail {opacity:1 !important; width:3px; background-color: rgba(0, 0, 0, 0.1) !important;}
.scr_box .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {opacity:1 !important; background-color: rgba(0, 0, 0, 0.3) !important;}


/* submain */
.sub_main_wrap:after {content:""; display:block; clear:both; width:100%;}
.sub_main_wrap>div {float:left;}
.sub_main_wrap>div.main_left {width:1030px;}
.sub_main_wrap>div.main_right {margin-left:45px; width:690px;}
.sub_main_box {padding:30px; height:798px; box-sizing:border-box;}
.sub_main_box.nodata {position:relative; height:798px;  background:url(../images/bg_sub_con.png) no-repeat;}
.sub_main_box.nodata:before {content:""; position:absolute; top:50%; left:50%; margin:-45px 0 0 -130px; width:261px; height:91px; background:url(../images/logo_gray.svg) no-repeat;}
.sub_main_box .fc_btns {margin:18px 0 10px; text-align:right;}
.sub_main_box .chart_box {margin-top:10px;}

.tit_wrap+.sub_search_form {margin-top:20px;}
.sub_search_form {position:relative; padding-right:86px; box-sizing:border-box;  }
.sub_search_form>.btn.ico_search {position:absolute; top:0; right:0; width:86px; height:100%;}
.sub_search_form>ul {display:table; width:100%; table-layout:fixed;}
.sub_search_form>ul+ul {margin-top:9px;}
.sub_search_form>ul>li {display:table-cell; padding-right:10px;}


/* detail */
.detail_wrap {width:1770px;}


/**/
.track_list {}
.track_list .track_box+.track_box {margin-top:5px;}
.track_box {padding:20px 30px 0; height:100px; border:solid 1px #e6ebf1; background-color:#fff; box-sizing:border-box;}
.track_box:after {content:""; clear:both; display:block;}
.track_box .track_info {width:580px; float:left;}
.track_box .tit_area .tit {font-size:15px; font-weight:500; color:#313c49;}
.track_box .tit_area .sub {font-size:12px; color:#8b919c;}
.track_box .track_info .detail {margin-top:7px; display:block;}
.track_box .track_info .detail>li {padding-right:8px; position:relative; font-size:10px; color:#6b6e72; line-height:20px; height:20px; display:inline-block; vertical-align:middle;}
.track_box .track_info .detail>li .txt {font-weight:500;}
.track_box .track_info .detail>li .sup {position:relative; top:-3px;}
.track_box .track_info .detail>li:after {content:""; position:absolute; top:6px; right:4px; display:inline-block; width:1px; height:10px; background-color:#e6ebf1;}
.track_box .track_info .status {padding-left:23px; position:relative; margin-top:8px; height:19px; line-height:19px; font-size:11px; color:#0d1327; background-color:#f0f4f8;}
.track_box .track_info .status strong {font-weight:500;}
.track_box .track_info .status .btns_area {position:absolute; top:0; right:0;}
.track_box .track_info .status .btns_area a {color:#6b6e72;}
.track_box .track_info .status.airplane {background-image:url(../images/ico_airplane_s.svg); background-position:left 5px center ; background-repeat:no-repeat;}
.track_box .track_info .status.container {background-image:url(../images/ico_container_s.svg); background-position:left 5px center ; background-repeat:no-repeat;}
.track_box .track_info .status.building {background-image:url(../images/ico_building_s.svg); background-position:left 5px center ; background-repeat:no-repeat;}
.track_box .track_info .status.truck {background-image:url(../images/ico_truck_s.svg); background-position:left 5px center ; background-repeat:no-repeat;}

.track_box .track_step {width:1070px; float:right; position:relative; margin-top:10px;}
.step_list {display:table; table-layout:fixed; width:100%; position:relative;}
.step_list>li{display:table-cell; position:relative; height:50px; background:url(../images/bg_line_dash.svg) repeat-x;}
.step_list>li:nth-child(1), .step_list>li:nth-child(4) {width:290px;}
.step_list>li:nth-child(3) .txt_area, .step_list>li:nth-child(4) .txt_area {text-align:right;  right:0;}
.step_list>li:before {content:""; position:absolute; left:-6px; top:-5px; z-index:1; display:inline-block; width:8px; height:8px; border:2px solid #dde2ea; background-color:#fff; border-radius:50%;}
.step_list>li:nth-child(3):before {left:auto; right:-6px;}
.step_list>li:nth-child(4):before {left:auto; right:-6px;}
.step_list .txt_area {position:absolute; top:15px;}
.step_list .txt_area .tit {display:block; color:#272f39; font-size:12px; font-weight:bold;}
.step_list .txt_area .txt {margin:5px 0 0 0; display:block; color:#727679; font-size:10px;}
.step_list .txt_area.final {right:0; text-align:right;}
.track_step .bar {position:absolute; top:0; left:0; z-index:2; width:0; height:2px; background-color:#0080c6;}
.track_step .bar .txt {font-size:10px; color:#cad0d7; font-weight:500; position:absolute; right:10px; top:3px; z-index:10;}
.track_step .bar:before {content:""; position:absolute; left:-6px; top:-5px; z-index:0; display:inline-block; width:8px; height:8px; border:2px solid #0080c6; background-color:#fff; border-radius:50%;}
.track_step .bar:after {content:""; position:absolute; right:-14px; top:-5px; z-index:3; display:inline-block; width:8px; height:8px; border:2px solid #0080c6; background-color:#fff; border-radius:50%;}
.track_step .bar.building:after {top:-11px; width:24px; height:24px; border:0; background:#fff url(../images/ico_building.svg) no-repeat center center;}
.track_step .bar.airplane:after {top:-11px; width:24px; height:24px; border:0; background:#fff url(../images/ico_airplane.svg) no-repeat center center;}
.track_step .bar.truck:after {top:-11px; width:24px; height:24px; border:0; background:#fff url(../images/ico_truck.svg) no-repeat center center;}
.track_step .bar.container:after {top:-11px; width:24px; height:24px; border:0; background:#fff url(../images/ico_container.svg) no-repeat center center;}

.track_step.step0 .bar {width:0;}
.track_step.step1 .bar {width:145px;}
.track_step.step2 .bar {width:290px;}
.track_step.step3 .bar {width:535px;}
.track_step.step4 .bar {width:780px;}
.track_step.step5 .bar {width:925px;}
.track_step.step6 .bar {width:1070px;}
.track_step.step3 .step_list>li:nth-child(2):before, .track_step.step4 .step_list>li:nth-child(2):before,
.track_step.step5 .step_list>li:nth-child(2):before, .track_step.step5 .step_list>li:nth-child(3):before,
.track_step.step6 .step_list>li:nth-child(2):before, .track_step.step6 .step_list>li:nth-child(3):before
{border-color:#0080c6; z-index:3;}
.track_step.step6 .step_list>li:nth-child(4):before {z-index:0;}

/* vendor */
.tab_wrapper+.vendor_con_wrap {margin-top:30px;}
.vendor_con_wrap {width:1770px;}
.vendor_con_wrap:after {content:""; display:block; clear:both; width:100%;}
.vendor_con_wrap>.left {width:960px; float:left;}
.vendor_con_wrap>.right {width:760px; float:right;}

.report_wrap {height:1018px; background-color:#e6ebf1;}
