@charset "UTF-8";

body,div,span,iframe,p,blockquote,a,abbr,address,big,cite,code,del,dfn,em,img,ins,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,header,hgroup,footer,nav,section,article,aside,figure,video,audio{margin:0;padding:0;border:0;}
a{display:inline-block;color:#000;text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;}
label.blind {display:block;width:0;height:0;font-size:0;text-indent:100%;white-space:nowrap;overflow:hidden;}
.clear:after {content: '';display: block;clear: both;height: 0;font-size: 0;}


.login_wrap {position:relative; min-width:1920px; min-height:938px; width:100%;height:100%;}
.login_wrap .login_bg  {display:none; background: #181d23; position:absolute; top:0; left:0; width:100%; height:100%; z-index:0; overflow:hidden;}
.login_wrap .login_bg1 {display:none; background:#181d23; position:absolute; top:0; left:0; width:100%; height:100%; z-index:0; overflow:hidden;}
.login_wrap.type1 .login_bg {display:none;}
.login_wrap.type1 .login_bg1 {display:block;}
.login_wrap.normal .login_bg {display:block;}
.login_wrap.normal .login_bg1 {display:none;}
.login_wrap .login_inner {width: 880px;height: 100%;padding-top:75px;box-sizing: border-box;margin:0 auto; position:relative; z-index:1;}
.login_wrap .login_inner .logo{margin:0 auto; font-size:0; width:172px; height:60px; position:relative; text-align:center; background:url(../images/logo_d.svg) no-repeat; background-size:cover;}
.login_wrap .login_inner .tit_logo{margin-top:15px;font-size:42px;font-weight:700;text-align: center;color: #fff;}

.login_wrap .login_inner .box_login {position:relative; margin:20px auto 0; width:510px; height:564px;}
.login_wrap .login_inner .box_login:before {content:""; z-index:0; position:absolute; top:20px; left:50%; margin-left:-228px; width:456px; height:400px; background:url(../images/login/bg_back.svg) no-repeat center top;}
.login_wrap .login_inner .box_login:after {content:""; z-index:0; position:absolute; top:0; left:0; display:block; width:510px; height:564px; background:url(../images/login/bg.svg) no-repeat center top;}
.login_wrap .login_inner .box_login.on:before {transform:rotateY(180deg);}
.login_wrap .login_inner .box_login.on:after {transform:rotateY(180deg);}
.login_wrap .login_inner .box_login .tabs {position:relative; z-index:1; margin:20px 20px 0;}
.login_wrap .login_inner .box_login .tabs li{display: inline-block;float:left;width:50%;height:78px;margin-top:12px;}
.login_wrap .login_inner .box_login .tabs li.current{margin-top:0;height:80px;box-sizing: border-box;}
.login_wrap .login_inner .box_login .tabs li a{font-weight:700; position: relative;display:block;width: calc(100% - 12px);height: 100%;font-size:16px;color:#38424e;padding-left: 8px;padding-top: 38px;box-sizing: border-box; text-align: center;}
.login_wrap .login_inner .box_login .tabs li a.current{display:block;width:100%;font-size: 24px;color: #fff;padding-top: 46px;box-sizing: border-box;}
.login_wrap .login_inner .box_login .tabs li:nth-child(1) a{border-top-left-radius:20px;text-align: left;padding-left: 68px;box-sizing: border-box;margin-left: 12px;}
.login_wrap .login_inner .box_login .tabs li:nth-child(1) a.current{margin-left:0;}
.login_wrap .login_inner .box_login .tabs li:nth-child(2) a.current{text-align: left;border-top-right-radius: 20px;}
.login_wrap .tab-content {display:none; margin:62px auto 0; width:340px; box-sizing: border-box;}
/*
.login_wrap .login_inner .box_login .tabs li{display: inline-block;float:left;width:50%;height:68px;margin-top:12px;}
.login_wrap .login_inner .box_login .tabs li.current{margin-top:0;height:80px;box-sizing: border-box;}
.login_wrap .login_inner .box_login .tabs li a{position: relative;display:block;width: calc(100% - 12px);height: 100%;font-size: 16px;color: #38424e;padding-left: 8px;padding-top: 28px;box-sizing: border-box;background: #0f1722;text-align: center;}
.login_wrap .login_inner .box_login .tabs li a.current{display:block;width:100%;font-size: 24px;color: #fff;padding-top: 46px;box-sizing: border-box;background: rgba(54,63,75, .9);}
.login_wrap .login_inner .box_login .tabs li:nth-child(1) a{border-top-left-radius:20px;text-align: left;padding-left: 68px;box-sizing: border-box;margin-left: 12px;}
.login_wrap .login_inner .box_login .tabs li:nth-child(1) a.current{margin-left:0;}
.login_wrap .login_inner .box_login .tabs li:nth-child(2) a.current{text-align: left;border-top-right-radius: 20px;}
.login_wrap .login_inner .box_login .tabs li:nth-child(1) a.current:before{z-index: 2;content:'';position: absolute;right:-71px;top:0;width:71px;height:80px;background: url(../images/tab_curve.png) no-repeat;background-size: 100%;}
.login_wrap .login_inner .box_login .tabs li:nth-child(2) a.current:before{z-index: 2;content:'';position: absolute;left:-71px;top:0;width:71px;height:80px;background: url(../images/tab_curve.png) no-repeat;background-size: 100%;-moz-transform: scaleX(-1);-webkit-transform: scaleX(-1);transform: scaleX(-1);}

.login_wrap .tab-content{display: none;width: 100%;padding: 62px 70px;box-sizing: border-box;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;background: rgba(54,63,75, .9);}
*/


.login_wrap .tab-content.current{display:block;}
.login_wrap .tab-content .form_login{margin-bottom:12px;width: 100%;font-size: 16px;color:#fff;border:0;padding:19px 24px 22px 52px;box-sizing: border-box;height: 60px;border-radius: 8px;background: #262e38;}
.login_wrap .tab-content .icon_login{position: relative;}
.login_wrap .tab-content .login_id span{position: absolute;left: 20px;top:20px;width:20px;height:20px;background: url(../images/id_default.svg) no-repeat 50% 50%;}
.login_wrap .tab-content .login_pw span{position: absolute;left: 20px;top:20px;width:20px;height:20px;background: url(../images/pw_default.svg) no-repeat 50% 50%;}
.login_wrap .tab-content .login_id span.on{background-image: url(../images/id_on.svg);}
.login_wrap .tab-content .login_pw span.on{background-image: url(../images/pw_on.svg);}

.login_wrap #tab-1.tab-content.current {border-top-right-radius:18px;}
.login_wrap #tab-2.tab-content.current {border-top-left-radius:18px;}

.login_wrap .box_inner {position:relative; z-index:1;}
.login_wrap .box_inner .inp_chk{display: block;margin-top: 13px; margin-left:23px;}
.login_wrap .box_inner .inp_chk input[type="checkbox"]{position:absolute;top:1px;left:1px;width:0;height:0;-webkit-appearance:none;-moz-appearance: none;appearance: none;outline: 0;}
.login_wrap .box_inner .inp_chk label,.inp_chk span{display:inline-block;position:relative;padding-left:25px;font-size:13px;color: #8c94a0;line-height: 19px;box-sizing: border-box;cursor:pointer;}
.login_wrap .box_inner .inp_chk label:before,.inp_chk span:before{content:'';display:block;position:absolute;top:1px;left:1px;width:18px;height:18px;background:url(../images/btn_check_off.svg) no-repeat;background-size:100%;box-sizing: border-box;}
.login_wrap .box_inner .inp_chk input[type="checkbox"]:checked + label:before,.inp_chk input[type="checkbox"]:checked + span:before{background:url(../images/btn_check_on.svg) no-repeat;background-size:100%;border:none;}

.login_wrap .box_inner .box_sign {margin-top:32px;width:100%;height: 60px;border-radius: 8px;background: #0080c6;}
.login_wrap .box_inner .box_sign a{display:block; font-weight:700; color: #fff;font-size: 16px;text-align: center;line-height: 60px;}
.login_wrap .box_inner .txt_forgot{margin-top:24px;font-family: Gotham;font-size: 13px;text-align: center;color: #8c94a0;}
.login_wrap .box_inner .txt_forgot .btn_forgot{display:block;font-family: 'Gotham';font-size: 13px;text-decoration: underline;text-align: center;color: #8c94a0;}

.login_wrap .txt_refer {font-family: 'CJONLYONENEWbody';font-size: 12px;line-height: 1.67;text-align: center;color: rgba(255, 255, 255, 0.5);}
.login_wrap .txt_refer span {display: block;margin-top:8px;}
/* quick search */
.login_wrap .tab-content .box_search {position: relative;width:100%;}
.login_wrap .tab-content .box_search .quick_select {position: relative;width:100%;height:60px;padding-left: 22px;font-family: 'Gotham';font-size: 16px;letter-spacing: 0.37px;color: #656f7e;border:0;border-radius: 8px;-webkit-appearance:none;-moz-appearance: none;appearance: none;background:#262e38 url(../images/ic_arr_select.svg) no-repeat right 24px center;}
.login_wrap .tab-content .box_find {margin-top:12px;}
.login_wrap .tab-content .box_find .form_find{margin-bottom:12px;width: 100%;font-size: 16px;color:#fff;border:0;padding:19px 24px 22px 22px;box-sizing: border-box;height: 60px;border-radius: 8px;background: #262e38;}

.login_wrap .form_login::-webkit-input-placeholder {font-family: 'Gotham';color:#656f7e;}
.login_wrap .box_inner .box_sign.btn_search {margin-top:64px;margin-bottom:37px;}


/* bright */
.login_wrap.bright {}
.login_wrap.bright .login_bg {background: #181d23 url(../images/bg_login_wh.jpg) no-repeat;background-size:cover;}

.login_wrap.bright .login_inner .logo {background-image:url(../images/logo.svg);}
.login_wrap.bright .login_inner .tit_logo {color:#000;}
.login_wrap.bright .login_inner .box_login:before {background-image:url(../images/login/bg_back_w.svg);}
.login_wrap.bright .login_inner .box_login:after {background-image:url(../images/login/bg_w.svg);}

.login_wrap.bright .login_inner .box_login .tabs li a{border-top-right-radius: 20px;color: #fff;}
.login_wrap.bright .login_inner .box_login .tabs li a.current{color:#000;font-weight: bold;}


.login_wrap.bright .tab-content .form_login {background:#ecf0f5; }
.login_wrap.bright .tab-content .login_id span.on {background-image:url(../images/id_on_wh.svg) !important;}
.login_wrap.bright .tab-content .login_pw span.on {background-image:url(../images/pw_on_wh.svg) !important;}

.login_wrap.bright .form_login::-webkit-input-placeholder {font-family: 'Gotham';color: #a2a9ac;}
.login_wrap.bright .tab-content .box_search .quick_select {color: #a2a9ac;background-color: #ecf0f5;}
.login_wrap.bright .tab-content .form_login.form_find {color: #a2a9ac;background: #ecf0f5;border:0;}
.login_wrap.bright .tab-content .form_login {color:#a2a9ac;}

.login_wrap.bright .txt_refer {color:rgba(0, 0, 0, 0.46);}


/* #### login type1  ### */
.login_wrap.bright .login_bg1 {background:#f0f4f8;}

.login_wrap.type1 .login_inner .box_login:before {background-image:url(../images/login/bg_back_type1.svg);}
.login_wrap.type1 .login_inner .box_login:after {background-image:url(../images/login/bg_type1.svg);}
.login_wrap.type1 .login_inner .box_login.on:after {transform:rotateY(0); background-image:url(../images/login/bg2_type1.svg);}
.login_wrap.type1 .tab-content .form_login {border-radius:0;}
.login_wrap.type1 .tab-content .box_search .quick_select {border-radius:0;}
.login_wrap.type1 .box_inner .box_sign {padding:0 20px; border-radius:0; background:none; box-sizing:border-box; position:relative;}
.login_wrap.type1 .box_inner .box_sign a {background-color:#0080c6;}
.login_wrap.type1 .box_inner .box_sign a:after {content:""; display:inline-block; width:20px; height:50px; position:absolute; top:0; right:0px; background:#0080c6;}
.login_wrap.type1 .box_inner .box_sign:before {content:""; display:inline-block; width:20px; height:60px; background:#0080c6; position:absolute; top:0; left:0;}
.login_wrap.type1 .box_inner .box_sign:after {content:""; display:inline-block; position:absolute; bottom:0; right:0; border-style:solid; border-width:5px 10px; border-color:#0080c6 transparent transparent #0080c6;}

.login_wrap.type1.bright .login_inner .box_login:before {background-image:url(../images/login/bg_back_type1_wh.svg);}
.login_wrap.type1.bright .login_inner .box_login:after {background-image:url(../images/login/bg_type1_wh.svg);}
.login_wrap.type1.bright .login_inner .box_login.on:after {background-image:url(../images/login/bg2_type1_wh.svg);}





@keyframes bg1 {
  from {bottom: -78px; left: -301px;}
  to {bottom:-46px; left:-246px;}
}

@keyframes bg2 {
  from {bottom: 75px; left: -31px;}
  to {bottom:145px; left:91px; }
}

@keyframes bg3 {
  from {bottom: -81px; left: -112px; }
  to {bottom:-17px; left:0;}
}

@keyframes bg4 {
  from {bottom:-80px; left:336px;}
  to {bottom:36px; left:540px;}
}

@keyframes bg5 {
  from {bottom:-67px; left:90px;}
  to {bottom:123px; left:422px;}
}

@keyframes bg6 {
  from {bottom:-153px; left:75px;}
  to {bottom:-105px; left:159px;}
}


@keyframes bg7 {
  from {top:241px; right:310px;}
  to {top:295px; right:403px;}
}

@keyframes bg8 {
  from {top:58px; right:127px;}
  to {top:100px; right:201px;}
}

@keyframes bg9 {
  from {top:99px; right:-71px;}
  to {top:142px; right:0px;}
}

@keyframes bg10 {
  from {top:193px; right:-51px;}
  to {top:262px; right:71px;}
}

@keyframes bg11 {
  from {top:187px; right:-199px;}
right {top:226px; right:-131px;}
}

/*
.login_wrap {width:100%; height:100%; position:relative; overflow:hidden;}*/
.login_bg .bg, .login_bg1 .bg {display:inline-block; position:absolute; background-repeat:no-repeat;}

.login_bg1 .bg.blue {width:202px; height:195px; background-image:url(../images/login/bg_blue.png);}
.login_bg1 .bg.gray {width:202px; height:195px; background-image:url(../images/login/bg_gray_d.png);}
.login_bg1 .bg.blue_line {width:337px; height:191px; background-image:url(../images/login/bg_blue_line.png);}
.login_bg1 .bg.orange_sm {width:331px; height:221px; background-image:url(../images/login/bg_orange_sm.png);}
.login_bg1 .bg.red {width:202px; height:195px; background-image:url(../images/login/bg_red.png);}
.login_bg1 .bg.blue_large {width:298px; height:329px; background-image:url(../images/login/bg_blue_lg.png);}
.login_bg1 .bg.gray_line {width:337px; height:191px; background-image:url(../images/login/bg_gray_line_d.png);}
.login_bg1 .bg.gray_group {width:381px; height:295px; background-image:url(../images/login/bg_gray_group_d.png);}
.login_bg1 .bg.orange {width:202px; height:195px; background-image:url(../images/login/bg_orange.png);}

.login_wrap.bright .login_bg1 .bg.gray {width:202px; height:195px; background-image:url(../images/login/bg_gray.png);}
.login_wrap.bright .login_bg1 .bg.gray_line {width:337px; height:191px; background-image:url(../images/login/bg_gray_line.png);}
.login_wrap.bright .login_bg1 .bg.gray_group {width:381px; height:295px; background-image:url(../images/login/bg_gray_group.png);}

/* left bottom */
.login_bg1 .bg:nth-child(1) {bottom:-46px; left:-246px;  animation-name:bg1; animation-duration:0.5s;}/* bottom: -78px; left: -301px; */
.login_bg1 .bg:nth-child(2) {bottom:145px; left:91px;  animation-name:bg2; animation-duration:0.5s;} /* bottom: 75px; left: -31px; */
.login_bg1 .bg:nth-child(3) {bottom:-17px; left:0; animation-name:bg3; animation-duration:0.5s;} /* bottom: -81px; left: -112px; */
.login_bg1 .bg:nth-child(4) {bottom:36px; left:540px; animation-name:bg4; animation-duration:0.5s;} /* bottom: -80px; left: 336px; */
.login_bg1 .bg:nth-child(5) {bottom:123px; left:422px; animation-name:bg5; animation-duration:0.5s;} /*bottom:-67px; left:90px;*/
.login_bg1 .bg:nth-child(6) {bottom:-105px; left:159px; animation-name:bg6; animation-duration:0.5s;} /* bottom:-153px; left:75px;*/

/* right top */
.login_bg1 .bg:nth-child(7) {top:295px; right:403px; animation-name:bg7; animation-duration:0.5s;} /* top: 241px; right: 310px; */
.login_bg1 .bg:nth-child(8) {top:100px; right:201px; animation-name:bg8; animation-duration:0.5s;} /* top:58px; right:127px; */
.login_bg1 .bg:nth-child(9) {top:142px; right:0px; animation-name:bg9; animation-duration:0.5s;} /* top:99px; right:-71px; */
.login_bg1 .bg:nth-child(10) {top:262px; right:71px; animation-name:bg10; animation-duration:0.5s;} /* top:193px; right:-51px; */
.login_bg1 .bg:nth-child(11) {top:226px; right:-131px; animation-name:bg11; animation-duration:0.5s;} /*top:187px; right:-199px;*/
.login_bg1 .bg:nth-child(12) {top:588px; right:205px;}
.login_bg1 .bg:nth-child(13) {top:327px; right:-117px;}

/*
.tab_con {width:480px; position:absolute; top:50%; left:50%; margin:-200px 0 0 -240px;}
.tab_con .tab_inner {height:400px; background-color:#fff;}
.tab_con>.bottom {position:relative; width:430px; height:30px; background:#fff;}
.tab_con>.bottom:after {content:""; position:absolute; right:-50px; display:inline-block; border-style:solid; border-width:15px 25px; border-color:#fff transparent transparent #fff;}
*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {font-family: 'Gotham';transition: background-color 5000s ease-in-out 0s;-webkit-transition: background-color 9999s ease-out;-webkit-box-shadow: 0 0 0px 1000px #262e38 inset !important;-webkit-text-fill-color: #fff !important;}

/* /////////// bg event normal ///////////// */
.login_wrap.normal .login_bg .bg.circle_blue   {z-index: 2;width: 840px;height: 984px;background-image: url(../images/login/bg_blue_c.svg);-webkit-transform:rotate(-45deg) scale(1.8);}
.login_wrap.normal .login_bg .bg.circle_red    {z-index: 2;width: 728px;height: 895px;background-image: url(../images/login/bg_red_c.svg);-webkit-transform:rotate(-45deg) scale(1.8);}
.login_wrap.normal .login_bg .bg.circle_orange {z-index: 2;width: 820px;height: 840px;background-image: url(../images/login/bg_orange_c.svg);-webkit-transform:rotate(55deg) scale(1.8);}
.login_wrap.normal .login_bg .bg.s_blue        {z-index: 1;width: 120px;height: 104px;background-image: url(../images/login/bg_bule_s.svg);}
.login_wrap.normal .login_bg .bg.s_orange      {z-index: 1;width: 234px;height: 222px;background-image: url(../images/login/bg_yellow_s.svg);}

 /* circle event */
.login_wrap.normal .login_bg .bg.circle_blue   {top:-670px; left:-167px;animation-name:bgc1; animation-duration:0.6s;-webkit-animation-fill-mode:both;}
.login_wrap.normal .login_bg .bg.circle_red    {bottom:-572px; left:180px;animation-name:bgc2; animation-duration:0.6s;-webkit-animation-fill-mode:both;}
.login_wrap.normal .login_bg .bg.circle_orange {bottom:-175px; right:-275px;animation-name:bgc3; animation-duration:0.6s;-webkit-animation-fill-mode:both;}
.login_wrap.normal .login_bg .bg.s_orange      {top:46px; right:331px;}
.login_wrap.normal .login_bg .bg.s_blue        {bottom:287px; left:415px;}

@keyframes bgc1 {100% {-webkit-transform : translateX(0px) translateY(0px) scale(1);}}
@keyframes bgc2 {100% {-webkit-transform : translateX(0px) translateY(0px) scale(1);}}
@keyframes bgc3 {100% {-webkit-transform : translateX(0px) translateY(0px) scale(1);}}

/* bg event bright normal */
.login_wrap.normal.bright .login_bg {background: #f0f4f8;}
.login_wrap.normal.bright .login_bg .bg.circle_blue   {z-index: 2;width: 840px;height: 932px;background-image: url(../images/login/bg_blue_wh.svg);background-size:135%;background-position: right;}
.login_wrap.normal.bright .login_bg .bg.circle_red    {z-index: 2;width: 840px;height: 720px;background-image: url(../images/login/bg_red_w.svg);background-position: 40% 75%;}
.login_wrap.normal.bright .login_bg .bg.circle_orange {z-index: 2;width: 543px;height: 450px;background-image: url(../images/login/bg_orange_w.svg);background-size:100%;background-position:center 75%;}
.login_wrap.normal.bright .login_bg .bg.s_blue        {z-index: 1;width: 162px;height: 206px;background-image: url(../images/login/bg_red_wh.svg);background-size:contain;}
.login_wrap.normal.bright .login_bg .bg.s_orange      {z-index: 1;width: 234px;height: 222px;background-image: url(../images/login/bg_yellow_wh.svg);background-size:contain;}

.login_wrap.normal.bright .login_bg .bg.circle_blue   {top:0;left:-424px;}
.login_wrap.normal.bright .login_bg .bg.circle_red    {bottom:-480px;left:auto;right:100px;}
.login_wrap.normal.bright .login_bg .bg.circle_orange {top:-300px;right:0;}
.login_wrap.normal.bright .login_bg .bg.s_blue        {bottom:200px;left:auto;right:330px;}
.login_wrap.normal.bright .login_bg .bg.s_orange      {top:140px;left:430px;}

/* /////////// popup ///////////// */
/* /////////// popup ///////////// */
.login_wrap .login_popup {display:none;z-index: 10;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, .6);overflow: hidden;}
.login_wrap .login_popup.open {display:block;}
.login_wrap .login_popup .cont_popup {position:relative;top: 50%;left: 50%;margin-left: -400px;margin-top: -185px;width:800px;height:370px;box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.15);overflow:hidden;}
.login_wrap .login_popup .cont_popup .btn_close {position: absolute;right:15px;top:20px;width: 30px;height: 30px;text-indent: -9999px;font-size:0;background: url(../images/ico_closed_w.svg);opacity: 0.8;background-size:contain;}
.login_wrap .login_popup .cont_popup .tit_popup {display: inline-block;width: 346px;padding: 40px;box-sizing: border-box;}
.login_wrap .login_popup .cont_popup .tit_popup h2 {font-size: 30px;line-height: 1.17;color: #fff;font-weight: bold;margin-bottom:12px;margin-top:7px;}
.login_wrap .login_popup .cont_popup .tit_popup h4 {font-size: 14px;color: #fff;font-weight: 400;}
.login_wrap .login_popup .cont_popup .tit_popup span {font-size: 12px;font-weight: 500;line-height: 1.67;color: #8b919c;}
.login_wrap .login_popup .cont_popup .desc_popup {float: right;position: relative;display: inline-block;width: 440px;padding:60px 70px 0;box-sizing: border-box;}

.login_wrap.normal .login_popup .step_list:before {content: "";position: absolute;top:-30px;left:-30px;width: 1px;height:310px;background:rgba(139, 145, 156, 0.4);}
.login_wrap .login_popup .step_list:after {content: "";position: absolute;top: 0;left:-0.5px;width: 0px;height:calc(100% - 48px);border-left: dotted 3px #dde2ea;}
.login_wrap .login_popup .step_list>li {display:block;width:100%;background:none;}
.login_wrap .login_popup .step_list>li + li {margin-top:15px;}
.login_wrap .login_popup .step_list>li:nth-child(3) {margin-top:50px;}
.login_wrap .login_popup .step_list>li:before {z-index: 3;left:-7px;top:-8px;width: 17px;height: 17px;border: 3px solid #dde2ea;border-radius:50%;background: #313c49;box-sizing:border-box;}

/* bright mode */
.login_wrap.bright .login_popup .step_list>li:before {background: #fff;}
.login_wrap.bright .login_popup .track_step .bar {background-color:#0080c6;}
.login_wrap .login_popup .track_step .bar {background-color: #fff;}
.login_wrap.bright .login_popup .step_list .txt_area .tit {color:#13161a;}
.login_wrap.bright .login_popup .cont_popup .tit_popup h2 {color:#45474e;}

.login_wrap.normal .login_popup .cont_popup {border-radius: 20px;background:#313c49 url(../images/login/quick_dk1_bg.svg) no-repeat;box-sizing: border-box;background-position: -11px -11px;}
.login_wrap.normal.bright .login_popup .cont_popup {border-radius: 20px;background:#fff url(../images/login/quick_wh1_bg.svg) no-repeat;box-sizing: border-box;background-position: -10px -12px;}
.login_wrap.type1 .login_popup .cont_popup {background:#313c49 url(../images/login/quick_dk2_bg.svg) no-repeat;background-position: -11px -12px;}
.login_wrap.type1.bright .login_popup .cont_popup {background:#fff url(../images/login/quick_wh2_bg.svg) no-repeat;background-position: -10px -11px;}

/* Quick Search Tracking */
.login_wrap.bright .track_step.step0 .bar:before {display: none;}
.login_wrap.bright .track_step.step0 .step_list>li:nth-child(1):before, .login_wrap.bright .track_step.step1 .step_list>li:nth-child(1):before,
.login_wrap.bright .track_step.step2 .step_list>li:nth-child(1):before, .login_wrap.bright .track_step.step2 .step_list>li:nth-child(2):before,
.login_wrap.bright .track_step.step3 .step_list>li:nth-child(1):before, .login_wrap.bright .track_step.step3 .step_list>li:nth-child(2):before,
.login_wrap.bright .track_step.step4 .step_list>li:nth-child(1):before, .login_wrap.bright .track_step.step4 .step_list>li:nth-child(2):before,
.login_wrap.bright .track_step.step4 .step_list>li:nth-child(3):before,
.login_wrap.bright .track_step.step5 .step_list>li:nth-child(1):before, .login_wrap.bright .track_step.step5 .step_list>li:nth-child(2):before,
.login_wrap.bright .track_step.step5 .step_list>li:nth-child(3):before,
.login_wrap.bright .track_step.step6 .step_list>li:nth-child(1):before, .login_wrap.bright .track_step.step6 .step_list>li:nth-child(2):before,
.login_wrap.bright .track_step.step6 .step_list>li:nth-child(3):before, .login_wrap.bright .track_step.step6 .step_list>li:nth-child(4):before
{z-index: 4;border-color:#0080c6;}

.login_wrap .track_step.step0 .bar:before {display: none;}
.login_wrap .track_step.step0 .step_list>li:nth-child(1):before, .login_wrap .track_step.step1 .step_list>li:nth-child(1):before,
.login_wrap .track_step.step2 .step_list>li:nth-child(1):before, .login_wrap .track_step.step2 .step_list>li:nth-child(2):before,
.login_wrap .track_step.step3 .step_list>li:nth-child(1):before, .login_wrap .track_step.step3 .step_list>li:nth-child(2):before,
.login_wrap .track_step.step4 .step_list>li:nth-child(1):before, .login_wrap .track_step.step4 .step_list>li:nth-child(2):before,
.login_wrap .track_step.step4 .step_list>li:nth-child(3):before,
.login_wrap .track_step.step5 .step_list>li:nth-child(1):before, .login_wrap .track_step.step5 .step_list>li:nth-child(2):before,
.login_wrap .track_step.step5 .step_list>li:nth-child(3):before,
.login_wrap .track_step.step6 .step_list>li:nth-child(1):before, .login_wrap .track_step.step6 .step_list>li:nth-child(2):before,
.login_wrap .track_step.step6 .step_list>li:nth-child(3):before, .login_wrap .track_step.step6 .step_list>li:nth-child(4):before
{z-index: 4;border-color:#fff;}

.login_wrap .login_popup .step_list .txt_area {left:16px;top:-7px;text-align: left;}
.login_wrap .login_popup .step_list .txt_area .tit{font-size:18px;color:#fff;font-weight: 500;}
.login_wrap .login_popup .step_list .txt_area .txt{font-size:13px;color:#8b919c;max-width: 300px;white-space: nowrap;overflow: hidden;}

.login_wrap .login_popup .track_step {position: relative;}
.login_wrap .login_popup .track_step:before {content:'';position: absolute;}
.login_wrap .login_popup .track_step.step0 .bar {width: 0;height: 10px;left: 3px;}
.login_wrap .login_popup .track_step.step1 .bar {width:3px;height:33px;}
.login_wrap .login_popup .track_step.step2 .bar {width:3px;height:65px;}
.login_wrap .login_popup .track_step.step3 .bar {width:3px;height:118px;}
.login_wrap .login_popup .track_step.step4 .bar {width:3px;height:162px;}
.login_wrap .login_popup .track_step.step5 .bar {width:3px;height:200px;}
.login_wrap .login_popup .track_step.step6 .bar {width:3px;height:235px;}
.login_wrap .login_popup .track_step .bar:before {display: none;border:3px solid #0080c6;}
.login_wrap .login_popup .track_step .bar:after {display:none;}
