@charset "UTF-8";


/* font */
/* CJ ONLY ONE NEW FONT */
@font-face {
	font-family: 'CJONLYONENEWbody';
	font-style: normal;
	font-weight: 300;
	src: url(font/cj/CJONLYONENEWbodyLight.eot);
	src: url(font/cj/CJONLYONENEWbodyLight.eot?#iefix) format('embedded-opentype'),
		url(font/cj/CJONLYONENEWbodyLight.woff) format('woff'),
		url(font/cj/CJONLYONENEWbodyLight.ttf) format('truetype');
}

@font-face {
	font-family: 'CJONLYONENEWbody';
	font-style: normal;
	font-weight: 400;
	src: url(font/cj/CJONLYONENEWbodyRegular.eot);
	src: url(font/cj/CJONLYONENEWbodyRegular.eot?#iefix) format('embedded-opentype'),
		url(font/cj/CJONLYONENEWbodyRegular.woff) format('woff'),
		url(font/cj/CJONLYONENEWbodyRegular.ttf) format('truetype');
}


@font-face {
	font-family: 'CJONLYONENEWtitle';
	font-style: normal;
	font-weight: 400;
	src: url(font/cj/CJONLYONENEWtitleMedium.eot);
	src: url(font/cj/CJONLYONENEWtitleMedium.eot?#iefix) format('embedded-opentype'),
		url(font/cj/CJONLYONENEWtitleMedium.woff) format('woff'),
		url(font/cj/CJONLYONENEWtitleMedium.ttf) format('truetype');
}

@font-face {
	font-family: 'CJONLYONENEWtitle';
	font-style: normal;
	font-weight: 500;
	src: url(font/cj/CJONLYONENEWtitleBold.eot);
	src: url(font/cj/CJONLYONENEWtitleBold.eot?#iefix) format('embedded-opentype'),
		url(font/cj/CJONLYONENEWtitleBold.woff) format('woff'),
		url(font/cj/CJONLYONENEWtitleBold.ttf) format('truetype');
}


@font-face {
	font-family: 'CJONLYONENEWbodyOTF';
	font-style: normal;
  font-weight:300;
  src: url(font/cj/CJONLYONENEWbodyOTFLight.eot);
	src: url(font/cj/CJONLYONENEWbodyOTFLight.eot?#iefix) format('embedded-opentype'),
		url(font/cj/CJONLYONENEWbodyOTFLight.woff) format('woff'),
		url(font/cj/CJONLYONENEWbodyOTFLight.ttf) format('truetype');
}

@font-face {
	font-family: 'CJONLYONENEWbodyOTF';
	font-style: normal;
  font-weight:300;
  src: url(font/cj/CJONLYONENEWbodyOTFRegular.eot);
	src: url(font/cj/CJONLYONENEWbodyOTFRegular.eot?#iefix) format('embedded-opentype'),
		url(font/cj/CJONLYONENEWbodyOTFRegular.woff) format('woff'),
		url(font/cj/CJONLYONENEWbodyOTFRegular.ttf) format('truetype');
}

@font-face {
	font-family: 'CJONLYONENEWTitleOTF';
	font-style: normal;
  font-weight: 400;
  src: url(font/cj/CJONLYONENEWtitleOTFMedium.eot);
	src: url(font/cj/CJONLYONENEWtitleOTFMedium.eot?#iefix) format('embedded-opentype'),
		url(font/cj/CJONLYONENEWtitleOTFMedium.woff) format('woff'),
		url(font/cj/CJONLYONENEWtitleOTFMedium.ttf) format('truetype');
}
@font-face {
	font-family: 'CJONLYONENEWTitleOTF';
	font-style: normal;
  font-weight: 500;
  src: url(font/cj/CJONLYONENEWtitleOTFBold.eot);
	src: url(font/cj/CJONLYONENEWtitleOTFBold.eot?#iefix) format('embedded-opentype'),
		url(font/cj/CJONLYONENEWtitleOTFBold.woff) format('woff'),
		url(font/cj/CJONLYONENEWtitleOTFBold.ttf) format('truetype');
}


/* Gotham */

@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 300;
	src: url(font/gotham/GothamLight.eot);
	src: url(font/gotham/GothamLight.eot?#iefix) format('embedded-opentype'),
		url(font/gotham/GothamLight.woff) format('woff'),
		url(font/gotham/GothamLight.ttf) format('truetype');
}


@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	src: url(font/gotham/Gotham-Book.eot);
	src: url(font/gotham/Gotham-Book.eot?#iefix) format('embedded-opentype'),
		url(font/gotham/Gotham-Book.woff) format('woff'),
		url(font/gotham/Gotham-Book.ttf) format('truetype');
}

@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 500;
	src: url(font/gotham/Gotham-Medium.eot);
	src: url(font/gotham/Gotham-Medium.eot?#iefix) format('embedded-opentype'),
		url(font/gotham/Gotham-Medium.woff) format('woff'),
		url(font/gotham/Gotham-Medium.ttf) format('truetype');
}


@font-face {
	font-family: 'Gotham';
	font-style: normal;
  font-weight: 700;
	src: url(font/gotham/Gotham-Bold.eot);
	src: url(font/gotham/Gotham-Bold.eot?#iefix) format('embedded-opentype'),
		url(font/gotham/Gotham-Bold.woff) format('woff'),
		url(font/gotham/Gotham-Bold.ttf) format('truetype');
}




/* notosans */
/* noto-sans-kr-300 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url('font/noto/noto-sans-kr-v12-korean-300.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Light'), local('NotoSansKR-Light'),
       url('font/noto/noto-sans-kr-v12-korean-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/noto/noto-sans-kr-v12-korean-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/noto/noto-sans-kr-v12-korean-300.woff') format('woff'), /* Modern Browsers */
       url('font/noto/noto-sans-kr-v12-korean-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('font/noto/noto-sans-kr-v12-korean-300.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-regular - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('font/noto/noto-sans-kr-v12-korean-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Regular'), local('NotoSansKR-Regular'),
       url('font/noto/noto-sans-kr-v12-korean-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/noto/noto-sans-kr-v12-korean-regular.woff') format('woff'), /* Modern Browsers */
       url('font/noto/noto-sans-kr-v12-korean-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('font/noto/noto-sans-kr-v12-korean-regular.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-500 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('font/noto/noto-sans-kr-v12-korean-500.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Medium'), local('NotoSansKR-Medium'),
       url('font/noto/noto-sans-kr-v12-korean-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/noto/noto-sans-kr-v12-korean-500.woff') format('woff'), /* Modern Browsers */
       url('font/noto/noto-sans-kr-v12-korean-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('font/noto/noto-sans-kr-v12-korean-500.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}
/* noto-sans-kr-700 - korean */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('font/noto/noto-sans-kr-v12-korean-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans KR Bold'), local('NotoSansKR-Bold'),
       url('font/noto/noto-sans-kr-v12-korean-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('font/noto/noto-sans-kr-v12-korean-700.woff') format('woff'), /* Modern Browsers */
       url('font/noto/noto-sans-kr-v12-korean-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('font/noto/noto-sans-kr-v12-korean-700.svg#NotoSansKR') format('svg'); /* Legacy iOS */
}


html, body {height:100%; width:100%;}
html {margin:0; padding:0; -webkit-text-size-adjust: 100%;}
body {margin:0; padding:0; font-family:'Gotham', 'Noto Sans KR','dotum'; font-size:14px; line-height:1; font-weight:400; background-color:#181d23; color:#fff;}
input, select, textarea {font-family:'Gotham','Noto Sans KR','dotum'; vertical-align:middle;  border-radius:0; -webkit-appearance:none;}
select::-ms-expand {display: none;}
input::-ms-clear, input::-ms-reveal {display: none;}
h1,h2,h3,h4,h5,h6,p {padding:0; margin:0;}
ul,ol,li,dl,dt,dd {margin:0; padding:0; list-style:none;}
iframe {display:block; }
img {border:0;}
a,i,em {text-decoration:none;font-style:normal;}
table {border-collapse:collapse; border-spacing:0; }
a {color:#fff;}

/* 스크롤 */
::-webkit-scrollbar {display:none;}

/* margin */
.mt20 {margin-top:20px;}
.ml30 {margin-left:30px;}

/* font */
.bold {font-weight:500;}

/* color */
.point {color:#238cd0;}
.sub_txt {color:#8b919c;}

.tar {text-align:right;}
.tal {text-align:left;}
.tac {text-align:center;}


/* layout */
.m_wrap {position:absolute; top:0; left:0; width:100%; height:100%; overflow:auto;}
.m_header {height:40px; text-align:center; position:relative;}
.m_header .logo {margin-top:11px; vertical-align:middle; display:inline-block; width:77px; height:27px;}
.m_header .logo a {display:block; height:27px; font-size:0; background:url(../images/logo_d.svg) no-repeat; background-size:cover;}
.m_header .left {position:absolute; top:0; left:5px;}
.m_header .right {position:absolute; top:0; right:5px;}
.m_header .btn_nav {display:inline-block; vertical-align:middle; font-size:0; width:40px; height:40px; background:url(../images/dark/nav_menu_over.svg) no-repeat center center; background-size:cover;}
.m_header .hd_btns, .m_header .hd_btns>li {display:inline-block; vertical-align:middle;}
.m_header .hd_notice {position:relative; vertical-align:middle; display:inline-block; width:40px; height:40px; font-size:0; background:url(../images/ico_alarm_w.svg) no-repeat center center; background-size:24px;}
.m_header .hd_notice.on:after {content:""; display:inline-block; position:absolute; top:50%; left:50%; margin:-10px 0 0 8px; width:5px; height:5px; background-color:#0080c6; border-radius:50%;}

.m_nav {overflow:hidden; position:fixed; top:0; left:0; bottom:0; width:0px; background-color:#000; z-index:10000; transition:width 0.3s; }
.m_nav.open {width:320px; overflow:auto;}
.m_nav .btn_close {display:block; width:30px; height:30px; font-size:0; position:absolute; top:10px; right:15px; background:url(../images/ico_closed_g.svg) no-repeat center center; background-size:30px;}
.m_nav .user_info {padding:55px 20px 14px; width:320px; box-sizing:border-box;}
.m_nav .user_info .name {display:block; font-size:20px; font-family:'CJONLYONENEWTitle', 'Gotham'; font-weight:500;}
.m_nav .user_info .comp {margin:4px 0 0 0; display:block; font-size:12px; color:#8a919d;}
.m_nav .user_info .search {margin-top:12px; position:relative;}
.m_nav .user_info .search input {padding:0 35px 0 10px; width:100%; height:35px; color:#fff; font-size:15px; border:0; background-color:#30373e; box-sizing:border-box;}
.m_nav .user_info .search .btn_search {font-size:0; position:absolute; right:0; top:0; width:35px; height:35px; background:url(../images/ico_search_g.svg) no-repeat center center; background-size:20px;}
.m_nav .nav_list {padding:0 20px;}
.m_nav .nav_list>li {main-width:200px; border-bottom:1px solid rgba(49,60,73,0.3);}
.m_nav .nav_list>li>a, .m_nav .nav_list>li>span {display:block; height:45px; line-height:45px; font-size:15px; font-family:'CJONLYONENEWbodyOTF'; color:#fff; }
.m_nav .sub_list {border-top:1px solid rgba(49,60,73,0.3);}
.m_nav .sub_list>li>a {padding-left:14px; display:block; height:45px; line-height:45px; font-size:15px; font-family:'CJONLYONENEWbodyOTF'; color:#8a919d;}
.m_nav .nav_list a {background:url(../images/ico_arrow_40.svg) no-repeat right center;}
.m_nav .nav_bott {padding:25px 24px;}
.m_nav .btn_signout {font-size:15px; font-family:'CJONLYONENEWbodyOTF'; color:#575f6b;}


/* login */
.login_wrap {position:absolute; text-align:center; top:0; left:0; width:100%; bottom:62px; overflow:auto; background-color:#192029;}
.login_wrap:before {content:""; margin:0; width:0; height:100%; display:inline-block; line-height:100%; vertical-align:middle;}
.login_wrap .login_inner {padding:20px 0; width:300px; display:inline-block; vertical-align:middle; text-align:left; position:relative; z-index:1; box-sizing:border-box;}
.login_wrap .logo {margin:0 auto; font-size:0; width:111px; height:39px; background:url(../images/logo_d.svg) no-repeat; background-size:111px auto;}
.login_wrap .tit_logo {margin:12px 0 0 0; font-size:25px; font-weight:bold; text-align:center;}
.login_wrap .txt_forgot {text-align:center; margin-top:20px;}
.login_wrap .txt_forgot a {text-decoration:underline; font-size:13px; color:#8c94a0;}
.login_wrap .box_sign {margin-top:40px; }
.login_wrap .box_sign a {height:50px; line-height:50px; display:block; color:#fff; font-size:16px; font-weight:500; text-align:center; background-color:#0080c6; position:relative;}
.login_wrap .box_sign a:after {content:""; position:absolute; bottom:0; right:0; display:inline-block; border-width:5px 10px; border-style:solid; border-color:transparent #192029 #192029 transparent;}
.box_login {margin-top:40px; box-sizing:border-box;}
.box_login .login_ip {padding-left:42px; height:44px; border-bottom:1px solid #656f7e; position:relative;}
.box_login .login_ip+.login_ip {margin-top:20px;}
.box_login .login_ip:before {content:""; position:absolute; left:10px; bottom:10px; display:inline-block; width:20px; height:20px; }
.box_login .login_id:before {background:url(../images/id_default.svg) no-repeat; background-size:cover;}
.box_login .login_id.focus:before {background-image:url(../images/id_on.svg);}
.box_login .login_pw:before {background:url(../images/pw_default.svg) no-repeat; background-size:cover;}
.box_login .login_pw.focus:before {background-image:url(../images/pw_on.svg);}
.box_login .login_id.focus, .box_login .login_pw.focus {border-color:#fff;}
.box_login .login_ip input {display:block; height:44px; padding:0; border:0; width:100%; font-size:16px; font-weight:500; color:#fff; background-color:transparent; outline:none;}
.box_login .login_ip input::-webkit-input-placeholder {font-size:14px; font-weight:400; color:#656f7e;}
.box_login .inp_chk {position:relative; display:inline-block; margin-top:25px; color:#656f7e; font-size:13px; font-weight:500; }
.box_login .inp_chk>span {padding-left:39px; display:inline-block; height:18px; line-height:18px; background:url(../images/btn_check_g.svg) no-repeat left 13px center;}
.box_login .inp_chk>input[type="checkbox"] {position:absolute; opacity:0;}
.box_login .inp_chk>input[type="checkbox"]:checked+span {color:#fff; background-image:url(../images/btn_check_b.svg);}
.login_wrap address {margin-top:50px; text-align:center; font-style:normal; font-size:10px; font-weight:300; color:rgba(255, 255, 255, 0.5);}
.login_wrap address>div {margin-top:6px;}

.login_wrap .bg_wrap {position:absolute; top:0; z-index:0; height:100%; width:100%; overflow:hidden;}
.login_wrap .lbg {display:inline-block; position:absolute; z-index:0;}
.login_wrap .lbg.bg_gray {width:100px; height:95px; top:66px; right:39px; background:url(../images/mo/login_bg_gray.png) no-repeat;  background-size:cover;}
.login_wrap .lbg.bg_gray.gray2 {top:auto; right:auto; bottom:27px; left:57px;}
.login_wrap .lbg.bg_gray2 {width:50px; height:47px; bottom:56px; left:7px; background:url(../images/mo/login_bg_gray2.png) no-repeat;  background-size:cover; }
.login_wrap .lbg.bg_gray2.gray3 {width:100px; height:95px; bottom:67px; left:auto; right:-40px; }
.login_wrap .lbg.bg_red {width:101px; height:98px; bottom:-70px; left:-44px; background:url(../images/mo/login_bg_red.png) no-repeat;  background-size:cover;}
.login_wrap .lbg.bg_orange {width:130px; height:125px; top:-58px; right:-92px; background:url(../images/mo/login_bg_orange.png) no-repeat;  background-size:cover;}
.login_wrap .lbg.bg_line {width:97px; height:88px; top:68px; left:0; background:url(../images/mo/login_bg_line.png) no-repeat;  background-size:cover; opacity:0.8; }
.login_wrap .lbg.bg_line.bg_line2 {top:68px; left:auto; right:-31px; opacity:0.3;}

.quick_wrap {z-index: 5;position: fixed;left:0;bottom:0;width:100%;height: 62px;border-top-left-radius: 10px;border-top-right-radius: 10px;background-color: #27303c;-ms-overflow-style: none;transition: all 0.3s;}
.quick_wrap::-webkit-scrollbar {display:none;}
.quick_wrap.on {height:calc(100% - 50px);overflow: auto;transition: all 0.3s;}
.quick_wrap .btn_quick {display: block;height:62px;text-align: center;}
.quick_wrap .btn_quick span {position: relative;display: inline-block;font-size: 16px;padding-top:30px;font-weight: bold;text-align: center;color: #8a919d;}
.quick_wrap .btn_quick span:before {content: '';position: absolute;left: 50%;top: 15px;margin-left: -8px;width: 16px;height: 5px;background: url(../images/mo/quick_off.svg) no-repeat;}

.quick_wrap.on .btn_quick span {color:#fff;}
.quick_wrap.on .btn_quick span:before {background: url(../images/mo/quick_on.svg) no-repeat;}

.quick_wrap .quick_inner {margin:17px;}
.quick_wrap .quick_inner .quick_top {margin: 0 10px 25px;}
.quick_wrap .quick_inner .quick_bot {background-color: #313c49;padding: 15px 20px;box-sizing: border-box;}

.quick_wrap .box_search .quick_select {position: relative;width: 100%;height: 44px;padding-left: 10px;font-size: 16px;letter-spacing: 0.37px;color: #fff;border:none;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url(../images/ic_arr_select.svg) no-repeat right 10px center;border-bottom: 1px solid #656f7e;outline:0;}
.quick_wrap .box_search .quick_select option {background: #27303c;}

.quick_wrap .box_find {position: relative;margin-top:12px;}
.quick_wrap .box_find .btn_search {position:absolute;right:10px;top:6px;width:30px;height:30px; font-size:0; background:url(../images/mo/ico_hd_search_w.svg) no-repeat center center; background-size:30px;}
.quick_wrap .box_find .form_find {width: 100%;height: 44px;padding-left: 10px;font-size: 16px;color:#fff;border:0;border-bottom:1px solid #656f7e;box-sizing: border-box;outline:0;background: #27303c;}
.quick_wrap .box_find .form_find::-webkit-input-placeholder {font-size:14px;color: #798697;letter-spacing: 0.32px;}

.quick_wrap .tit_quick {width: 100%;border-bottom:1px solid #27303c;padding-bottom:16px;}
.quick_wrap .tit_quick h2 {font-size: 23px;line-height: 1.17;color: #fff;font-weight: bold;margin:5px 0;}
.quick_wrap .tit_quick h4 {font-size: 13px;color: #fff;font-weight: 400;}
.quick_wrap .tit_quick span {font-size: 12px;line-height: 1.67;color: #8b919c;}

.quick_wrap .track_step {position: relative;margin:16px 0 14px;}
.quick_wrap .track_step:before {content:'';position: absolute;}
.quick_wrap .track_step.step0 .bar {width: 0;height: 10px;left: 3px;}
.quick_wrap .track_step.step1 .bar {width:3px;height:38px;}
.quick_wrap .track_step.step2 .bar {width:3px;height:65px;}
.quick_wrap .track_step.step3 .bar {width:3px;height:115px;}
.quick_wrap .track_step.step4 .bar {width:3px;height:162px;}
.quick_wrap .track_step.step5 .bar {width:3px;height:193px;}
.quick_wrap .track_step.step6 .bar {width:3px;height:228px;}

.quick_wrap .quick_bot .track_step .step_list:after {content: "";position: absolute;top: 0;left:13px;width: 0px;height:calc(100% - 28px);border-left: dotted 3px #5f6c7a;}
.quick_wrap .quick_bot .track_step .step_list>li {display: block;position: relative;margin-left: 30px;background: none;}
.quick_wrap .quick_bot .track_step .step_list>li:before {content:'';z-index: 3;position: absolute;left: -23px;top:0;width: 15px;height: 15px;border: 3px solid #5f6c7a;border-radius:50%;background: #313c49;box-sizing:border-box;}
.quick_wrap .quick_bot .track_step .step_list>li + li {margin-top:28px;}
.quick_wrap .quick_bot .track_step .step_list>li:nth-child(3) {margin-top:54px;}

.quick_wrap .track_step .bar {position:absolute; top:0; left:13px; z-index:2; width:0; height:2px; background-color:#fff; transition:width 0.5s;}
.quick_wrap .track_step .bar .txt {padding:4px 0; width:42px; text-align:center; font-size:13px; color:#fff; font-weight:500; position:absolute; right:-18px; top:16px; z-index:10; background-color:#0080c6; border-radius:4px; box-sizing:border-box;}
.quick_wrap .track_step .bar .txt:before {content:""; position:absolute; top:-15px; left:50%; margin-left:-5px; display:block; border-width:10px 5px; border-style:solid; border-color:transparent transparent #0080c6 transparent;}

.track_step.step0 .bar:before {display: none;}
.track_step.step0 .step_list>li:nth-child(1):before, .track_step.step1 .step_list>li:nth-child(1):before,
.track_step.step2 .step_list>li:nth-child(1):before, .track_step.step2 .step_list>li:nth-child(2):before,
.track_step.step3 .step_list>li:nth-child(1):before, .track_step.step3 .step_list>li:nth-child(2):before,
.track_step.step4 .step_list>li:nth-child(1):before, .track_step.step4 .step_list>li:nth-child(2):before,
.track_step.step4 .step_list>li:nth-child(3):before,
.track_step.step5 .step_list>li:nth-child(1):before, .track_step.step5 .step_list>li:nth-child(2):before,
.track_step.step5 .step_list>li:nth-child(3):before,
.track_step.step6 .step_list>li:nth-child(1):before, .track_step.step6 .step_list>li:nth-child(2):before,
.track_step.step6 .step_list>li:nth-child(3):before, .track_step.step6 .step_list>li:nth-child(4):before
{z-index: 4;border-color:#fff;}

.track_step .step_list .txt_area {left:16px;top:-7px;text-align: left;}
.track_step .step_list .txt_area .tit{display: block;font-size:16px;color:#fff;font-weight: 500;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.track_step .step_list .txt_area .txt{display: block;margin-top: 6px;font-size:13px;color:#8b919c;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}


/* main */
.main_wrap {}
.main_wrap .welcome {padding:0 30px; font-family:'CJONLYONENEWtitle';}
.main_wrap .welcome .sub_txt {display:block; color:#8a919d; font-size:12px;}
.main_wrap .welcome .name {margin-top:4px; display:block; font-weight:500; font-size:20px;}
.live_tile_list {overflow:hidden; margin-top:20px;}
.live_tile_list .live_slider {display:block;}
.live_tile_list .live_slider>li {display:block;}
.live_tile_list .bx-wrapper {margin-bottom:30px; box-shadow:none; border:0; background:transparent;}
.live_tile_list .bx-viewport {width:72% !important; margin:0 auto; overflow:visible !important; height:190px !important;}
.live_tile_list .bx-wrapper .bx-pager {bottom:-15px;}
.live_tile_list .bx-wrapper .bx-pager-item {margin:0 1px 0 2px;}
.live_tile_list .bx-wrapper .bx-pager.bx-default-pager a {margin:0; width:5px; height:3px; border-radius:3px; background-color:#45474e;}
.live_tile_list .bx-wrapper .bx-pager.bx-default-pager a.active {width:9px; background-color:#fff;}
.live_tile_list .bx-wrapper .bx-controls-direction a {width:14%;  height:190px; background:red; margin-top:-95px; opacity:0;}
.live_tile_list .bx-wrapper .bx-prev {left:0;}
.live_tile_list .bx-wrapper .bx-next {right:0;}


/* title */
.tit_wrap {width:100%;}
.tit_wrap:after {content:""; display:block; clear:both; width:100%;}
.tit_wrap>.tit_left {float:left;}
.tit_wrap>.tit_right {float:right;}
.tit_wrap>.tit_left .tit {font-size:18px; font-weight:500;}


/* input */
.ip_check {position:relative; display:inline-block;}
.ip_check input {opacity:0; position:absolute; top:0; left:0;}
.ip_check label {padding-left:22px; line-height:16px; display:inline-block; font-size:14px; background-image:url(../images/check16.svg); background-repeat:no-repeat; background-size:16px;}
.ip_check input:checked+label {background-image:url(../images/checked_g.svg); }
.ip_check.sm label {line-height:12px; background-size:12px; background-image:url(../images/dark/not_checked.svg);}
.ip_check.sm input:checked+label {background-image:url(../images/checked.svg); }
.ip_check.sm+.ip_check.sm {margin-left:20px;}
.ip_check.type1 label {padding-left:26px; color:#13161a; background-size:16px;}
.ip_check.type1 input:checked+label {background-image:url(../images/checked.svg); }
.ip_check.type2 label {padding-left:26px; font-size:16px; color:#13161a; background-image:url(../images/check.svg); background-size:16px;}
.ip_check.type2 input:checked+label {background-image:url(../images/checked.svg); }


/* box */
.box {display:block; background-color:#333c48; box-sizing:border-box;}
.box.bg_type1 {background-color:#12161a;}
.box.bg_type2 {background-color:#0080c6;}
.box.bg_type3 {background-color:#e42f44;}
.box.bg_type4 {background-color:#ec8922;}
.box.shadow {box-shadow: 3px 3px 15px 0 rgba(0, 0, 0, 0.1);}
.box.line {border:1px solid #dde2ea;}

.main_cols_4 {font-size:0;}
.main_cols_4>li {width:25%; vertical-align:middle; display:inline-block; font-size:14px;}

.main_cols_2 {font-size:0;}
.main_cols_2>li {width:50%; vertical-align:top; display:inline-block; font-size:14px; box-sizing:border-box;}
.main_cols_2>li:nth-child(odd) {padding-right:5px;}
.main_cols_2>li:nth-child(even) {padding-left:5px;}

/* tile */
.live_tile {padding:15px; position:relative; height:190px; box-sizing:border-box;}
.live_tile .tit_area .tit {font-weight:500; font-size:13px; display:block; overflow:hidden; white-space:nowrap;}
.live_tile>.con {margin-top:15px;}

.static_tile_list {padding:0 15px;}

.st_tile {padding-top:107px; height:160px; position:relative; font-size:13px; font-weight:500;  text-decoration:none; text-align:center; box-sizing:border-box;}
.st_tile .img {top:25px; left:50%; margin-left:-35px; position:absolute; display:inline-block; width:70px; height:70px;}
.st_tile .img img {width:100%;}

.st_tile2 {position:relative; display:table; table-layout:fixed; width:100%; height:75px; font-size:13px; font-weight:500; line-height:1.2; text-decoration:none; box-sizing:border-box;}
.st_tile2 .img {content:""; text-align:center; width:55px; vertical-align:middle; display:table-cell; background-repeat:no-repeat; background-size:40px; }
.st_tile2 .img img {width:40px;}
.st_tile2>span {display:table-cell; vertical-align:middle;}

.main_cols_2>li .st_tile+.st_tile {margin-top:10px;}
.main_cols_2>li .st_tile2+.st_tile2 {margin-top:10px;}




.schedule_box {padding:46px 17px 0; box-sizing:border-box; background-color:#181d23; position:relative;}
.schedule_box>.btn_close {display:inline-block; width:30px; height:30px; font-size:0; position:absolute; top:10px; right:15px; background:url(../images/ico_closed_g.svg) no-repeat 0 0;}
.sched_wrap {}
.sched_wrap .tit_month {font-family:'CJONLYONENEWtitle'; font-weight:500; font-size:20px; color:#fff;}
.sched_wrap .tit_month>span {display:block;}
.sched_wrap .tit_month>span+span {margin-top:6px;}
.calendar_wrap {margin-bottom:35px;}
.calendar_wrap .ui-datepicker {width:100%; padding:0; box-shadow:none;}
.calendar_wrap .ui-datepicker-calendar {width:100%;}
.calendar_wrap .ui-datepicker-title {display:none;}
.calendar_wrap .ui-datepicker-header {text-align:right; margin-top:-25px;}
.calendar_wrap .ui-datepicker-prev, .calendar_wrap .ui-datepicker-next {font-size:0; display:inline-block; width:40px; height:40px; position:static;}
.calendar_wrap .ui-datepicker-prev {background:url(../images/btn_prev_40.svg) no-repeat;}
.calendar_wrap .ui-datepicker-next {background:url(../images/btn_next_40.svg) no-repeat; transform:none;}
.calendar_wrap .ui-datepicker-calendar thead th {font-size:8px; font-weight:500; color:#8b919c;}
.calendar_wrap .ui-datepicker-calendar tbody td {height:40px; text-align:center; position:relative;}
.calendar_wrap .ui-datepicker-calendar tbody td a {display:inline-block; width:32px; height:32px; line-height:32px; font-size:14px; font-weight:500; text-decoration:none; color:#fff; letter-spacing:0.49px; }
.calendar_wrap .ui-datepicker-calendar tbody td:nth-child(1) a, .calendar_wrap .ui-datepicker-calendar tbody td:nth-child(7) a {color:#99a1b2;}
.calendar_wrap .ui-datepicker-calendar tbody td:after {content:""; left:50%; bottom:7px; display:inline-block; position:absolute; background-image:url(../images/mo/spr_work.png); background-repeat:no-repeat; background-size:20px;}
.calendar_wrap .ui-datepicker-calendar tbody td.work:after {width:3px; height:3px; margin-left:-1px; background-position:0px 0px;}
.calendar_wrap .ui-datepicker-calendar tbody td.msg:after {width:3px; height:3px; margin-left:-1px; background-position:-6px 0px;}
.calendar_wrap .ui-datepicker-calendar tbody td.meet:after {width:3px; height:3px; margin-left:-1px; background-position:-12px 0px;}
.calendar_wrap .ui-datepicker-calendar tbody td.work.meet:after {width:9px; margin-left:-4px; background-position:0 0;}
.calendar_wrap .ui-datepicker-calendar tbody td.work.msg:after {width:9px; margin-left:-4px; background-position:0 -3px;}
.calendar_wrap .ui-datepicker-calendar tbody td.meet.msg:after {width:9px; margin-left:-4px; background-position:-6px 0px;}
.calendar_wrap .ui-datepicker-calendar tbody td.work.meet.msg:after {width:15px;  margin-left:-8px; background-position:0 0;}
.calendar_wrap .ui-datepicker-calendar .ui-state-active {background-color:#12161a; border-radius:0;}
.calendar_wrap .ui-datepicker-calendar .ui-datepicker-today a {color:#0080c6 !important;}

.schedule_box .scr_box {margin-top:20px;}

.event_list {padding-left:19px; }
.event_list>li {position:relative; padding:15px 70px 15px 0; border-bottom:1px solid rgba(147, 152, 163, 0.1); }
.event_list>li:before {content:""; position:absolute; top:16px; left:-20px; display:inline-block; width:10px; height:10px;}
.event_list>li.work:before {background:url(../images/ico_rm_work.svg) no-repeat 0 0; background-size:10px; }
.event_list>li.msg:before {background:url(../images/ico_rm_msg.svg) no-repeat 0 0; background-size:10px; }
.event_list>li.meeting:before {background:url(../images/ico_rm_meeting.svg) no-repeat 0 0; background-size:10px; }
.event_list>li .tit {overflow:hidden; position:absolute; right:0; top:15px;}
.event_list>li .tit .date {font-size:10px; color:#8b919c;}
.event_list>li .txt {font-size:13px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
