<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="../../css/common.css" rel="stylesheet">
    <link href="../../css/content.css" rel="stylesheet">
  </head>
  <body>

    <a href="#" class="btn">New Order</a>
    <a href="#" class="btn line">Download</a>
    <a href="#" class="btn sm">Save</a>
    <a href="#" class="btn sm line">Save</a>

    <a href="#" class="btn sm line ico_view_map">View map</a>
    <a href="#" class="btn sm line ico_download">download</a>

    <a href="#" class="btn lg ico_search">검색</a>
    <a href="#" class="btn line lg ico_search">검색</a>
    <a href="#" class="btn lg line ico_reset">초기화</a>

    <a href="#" class="btn sm line ico_add">추가</a>
    <a href="#" class="btn sm line ico_remove">삭제</a>

    <a href="#" class="btn lg">버튼</a>

    <a href="#" class="btn line ico_search">검색</a>

    <a href="#" class="btn_ico excel">Download Excel</a>

    <a href="#" class="btn_load">Load</a>

    <a href="#" class="btn_cir ico_del"></a>
    <a href="#" class="btn_cir ico_add"><span>Add another row </span></a>


    <div class="btn_bottom">
      <div class="left">
        <a href="#" class="btn act">Submit</a>
        <a href="#" class="btn black act">Discard</a>
      </div>
      <div class="right">
      </div>
    </div>

  </body>
</html>
