<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="../../css/common.css" rel="stylesheet">
    <link href="../../css/content.css" rel="stylesheet">
  </head>
  <body>

    <div class="detail_wrap">


      <div class="tit_wrap tit_h1">
        <div class="tit_left">
          <h2>공통 클래스</h2>
        </div>
      </div>

      <div class="tit_wrap mt20">
        <div class="tit_left">
          <h4>정렬</h4>
        </div>
      </div>

      <div class="tbl_rd_wrap">
        <table class="tbl_rd">
          <colgroup>
            <col style="width:;">
            <col style="width:;">
            <col style="width:;">
          </colgroup>
          <thead>
            <tr>
              <th>왼쪽</th>
              <th>가운데</th>
              <th>오른쪽</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tal">왼쪽 정렬 : tal</td>
              <td class="tac">오른쪽 정렬 : tac</td>
              <td class="tar">왼쪽 정렬 : tar</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="tit_wrap mt20">
        <div class="tit_left">
          <h4>폰트</h4>
        </div>
      </div>

      <div class="tbl_rd_wrap">
        <table class="tbl_rd">
          <colgroup>
            <col style="width:;">
            <col style="width:;">
            <col style="width:;">
            <col style="width:;">
          </colgroup>
          <thead>
            <tr>
              <th>볼드</th>
              <th>강조 색상</th>
              <th>서브 색상</th>
              <th>강조 + 볼드</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="bold">볼드 : bold</td>
              <td class="point">강조 색상 : point</td>
              <td class="sub_txt">서브 색상 : sub_txt</td>
              <td class="bold point">강조 + 볼드 : bold point</td>
            </tr>
          </tbody>
        </table>
      </div>


      <div class="tit_wrap mt20">
        <div class="tit_left">
          <h4>Margin</h4>
        </div>
      </div>

      <div class="tbl_rd_wrap">
        <table class="tbl_rd">
          <colgroup>
            <col style="width:;">
            <col style="width:;">
          </colgroup>
          <thead>
            <tr>
              <th>상단여백</th>
              <th>왼쪽 여백</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>mt10, mt20, mt30, mt40, mt50</td>
              <td>ml5, ml10, ml15, ml20, ml30</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>























  </body>
</html>
