<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SVG 이미지</title>
    <link href="../../css/common.css" rel="stylesheet">
    <link href="../../css/content.css" rel="stylesheet">
    <script src="../../script/lib/jquery-3.4.1.min.js"></script>
    <script src="../../script/lib/jquery-ui.js"></script>
    <style type="text/css">
      table {border-collapse: collapse}
      td, th {height:20px; padding:5px; font-size:14px; border:1px solid #ccc; background-color:#fff;}

      h1, h2 {padding:0; margin:0;}
      h1 {margin-bottom:30px;}
      h2 {margin-bottom:10px; font-size:25px;}
      .guide_wrap {padding:20px;}
      .tbl_guide {width:100%; table-layout:fixed;}
      .tbl_guide th {background:#f1f1f1;}
      .tbl_guide a {font-weight:bold;}
      .tbl_guide tbody tr:hover td a {color:#fff;}
    </style>
  </head>
  <body>

    <div class="guide_wrap">
      <table class="tbl_guide">
        <colgroup>
          <col style="width:150px;">
          <col style="width:;">
        </colgroup>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>로고</th>
            <td><img src="../../images/logo.svg" alt=""></td>
            <td style="background:#222;"><img src="../../images/logo_d.svg" alt=""></td>
            <td><img src="../../images/logo_gray.svg" alt=""></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>화살표</th>
            <td><img src="../../images/ico_arr_prev.svg" alt=""><img src="../../images/ico_arr_next.svg" alt=""></td>
            <td><img src="../../images/ico_arr_more.svg" alt=""> 라이브타일 more 아이콘38*38</td>
            <td><img src="../../images/ico_desc.svg" alt=""><img src="../../images/ico_asc.svg" alt=""><img src="../../images/ico_arr_right.svg" alt=""></td>
            <td>
              <img src="../../images/ic_arr_select.svg" alt="">
              <img src="../../images/ico_select.svg" alt="">
              <img src="../../images/ico_arr_cir.svg" alt="">
              <img src="../../images/ico_arr_24.svg" alt="">
            </td>
            <td><img src="../../images/ico_arrow_40.svg" alt="">40*40</td>
          </tr>
          <tr>
            <th></th>
            <td>
              <img src="../../images/ico_arr_move_right.svg" alt="">
              <img src="../../images/ico_arr_move_left.svg" alt="">
              <img src="../../images/ico_arr_move_all_right.svg" alt="">
              <img src="../../images/ico_arr_move_all_left.svg" alt="">
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>닫기</th>
            <td><img src="../../images/close.svg" alt=""></td>
            <td><img src="../../images/ico_closed.svg" alt=""></td>
            <td><img src="../../images/ico_closed_g.svg" alt=""></td>
            <td style="background:#222;"><img src="../../images/ico_closed_w.svg" alt=""></td>
            <td></td>
          </tr>
          <tr>
            <th>헤더아이콘</th>
            <td>
              <img src="../../images/ico_hd_search.svg" alt="">
              <img src="../../images/ico_hd_notice.svg" alt="">
              <img src="../../images/ico_hd_light.svg" alt="">
              <img src="../../images/ico_hd_dark.svg" alt="">
            </td>
            <td>
              <img src="../../images/ico_hd_search_over.svg" alt="">
              <img src="../../images/ico_hd_notice_over.svg" alt="">
              <img src="../../images/ico_hd_light_over.svg" alt="">
              <img src="../../images/ico_hd_dark_over.svg" alt="">
              over
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>트레킹</th>
            <td>
              <img src="../../images/ico_building.svg" alt="">
              <img src="../../images/ico_airplane.svg" alt="">
              <img src="../../images/ico_container.svg" alt="">
              <img src="../../images/ico_truck.svg" alt="">
              <img src="../../images/ico_ship.svg" alt="">
            </td>
            <td>
              <img src="../../images/ico_building_s.svg" alt="">
              <img src="../../images/ico_airplane_s.svg" alt="">
              <img src="../../images/ico_container_s.svg" alt="">
              <img src="../../images/ico_truck_s.svg" alt="">
              <img src="../../images/ico_ship_s.svg" alt="">
            </td>
            <td>
              <img src="../../images/ico_building_g.svg" alt="">
              <img src="../../images/ico_airplane_g.svg" alt="">
              <img src="../../images/ico_container_g.svg" alt="">
              <img src="../../images/ico_truck_g.svg" alt="">
              <img src="../../images/ico_ship_g.svg" alt="">
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>Static 타일 아이콘</th>
            <td>
              <img src="../../images/ico_static_cost.svg" alt="">
              <img src="../../images/ico_static_dashboard.svg" alt="">
              <img src="../../images/ico_static_kpi.svg" alt="">
              <img src="../../images/ico_static_quotation.svg" alt="">
              <img src="../../images/ico_static_schedule.svg" alt="">
              <img src="../../images/ico_static_volume.svg" alt="">
              <img src="../../images/ico_static_schedule2.svg" alt="">
              <img src="../../images/ico_static_report.svg" alt="">
              <img src="../../images/ico_static_quotation2.svg" alt="">

            </td>
            <td style="background:#222;">
              <img src="../../images/ico_static_analytics.svg" alt="">
              <img src="../../images/ico_static_ebook.svg" alt="">
              <img src="../../images/ico_static_tracking.svg" alt="">
              <img src="../../images/ico_static_sales_kpi.svg" alt="">
              <img src="../../images/ico_static_perform.svg" alt="">
              <img src="../../images/ico_static_order.svg" alt="">
              <img src="../../images/dark/ico_static_report.svg" alt="">
              <img src="../../images/ico_static_kpi_w.svg" alt="">
              <img src="../../images/ico_static_cust_kpi.svg" alt="">
              <img src="../../images/ico_static_schedule2_w.svg" alt="">
              <img src="../../images/dark/ico_static_quotation2.svg" alt="">
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>일정</th>
            <td>
              <img src="../../images/ico_rm_meeting.svg" alt="">  meeting
            </td>
            <td>
              <img src="../../images/ico_rm_work.svg" alt="">  work
            </td>
            <td>
              <img src="../../images/ico_rm_msg.svg" alt="">  message
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th>버튼</th>
            <td>
              <img src="../../images/ico_reset.svg" alt="">
            </td>
            <td style="background:#222;"><img src="../../images/ico_search_w.svg" alt=""></td>
            <td><img src="../../images/ico_bn_file.svg" alt=""></td>
            <td>
              <img src="../../images/ico_alarm.svg" alt="">
              <img src="../../images/ico_alarm_warn.svg" alt="">
              <img src="../../images/ico_alarm_over.svg" alt="">
              <img src="../../images/ico_alarm_set.svg" alt="">
              <span style="background:#222; display:inline-block;"><img src="../../images/ico_alarm_w.svg" alt=""></span>
            </td>
            <td>
              <img src="../../images/ico_file_b.svg" alt="">
              <img src="../../images/ico_viewmap_b.svg" alt="">
              <img src="../../images/ico_excel_b.svg" alt="">
            </td>
          </tr>
          <tr>
            <th></th>
            <td>
              <img src="../../images/ico_location.svg" alt="">
            </td>
            <td>
              <img src="../../images/ico_search_g.svg" alt="">
            </td>
            <td>
              <img src="../../images/ico_folder.svg" alt="">
            </td>
            <td>
              <img src="../../images/ico_del.svg" alt="">
              <img src="../../images/ico_add.svg" alt="">
            </td>
            <td>
              <img src="../../images/ico_txt_del.svg" alt="">
            </td>
          </tr>
          <tr>
            <th></th>
            <td>
              <img src="../../images/ico_setting.svg" alt="">
              <img src="../../images/ico_setting_over.svg" alt="">
            </td>
            <td>
              <img src="../../images/ico_plus.svg" alt="">
              <span style="background:#222; display:inline-block;">
                <img src="../../images/ico_plus_w.svg" alt="">
              </span>
            </td>
            <td style="background:#222;" >
              <img src="../../images/ico_copy_w.svg" alt="">
              <img src="../../images/ico_minus_w.svg" alt="">
            </td>
            <td>
              <img src="../../images/ico_people.svg" alt="">
              <img src="../../images/ico_quotation_g.svg" alt="">
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <th>input</th>
            <td>
              <img src="../../images/ip_select.svg" alt="">  셀렉트
            </td>
            <td>
              <img src="../../images/btn_check_off.svg" alt="">
              <img src="../../images/btn_check_on.svg" alt="">  로그인체크
              <img src="../../images/btn_check_g.svg" alt="">
              <img src="../../images/btn_check_b.svg" alt="">
            </td>
            <td>
              <img src="../../images/check.svg" alt="">
              <img src="../../images/checked.svg" alt="">
              <img src="../../images/checked_g.svg" alt="">
              <img src="../../images/check16.svg" alt=""> 체크
            </td>
            <td>
              <img src="../../images/radio.svg" alt="">
              <img src="../../images/radio_checked_g.svg" alt="">
              라디오
            </td>
            <td>
              <img src="../../images/ico_filter.svg" alt="">
            </td>
          </tr>
          <tr>
            <th>그리드</th>
            <td>
              <img src="../../images/ico_folder_g.svg" alt="">
              <img src="../../images/ico_folder_open_g.svg" alt="">
              <img src="../../images/ico_page_g.svg" alt="">
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>

            </td>
          </tr>
          <tr>
            <th>메뉴</th>
            <td>
              <img src="../../images/nav_menu.svg" alt="">
              <img src="../../images/nav_menu_over.svg" alt="">
            </td>
            <td>
              <img src="../../images/nav_01.svg" alt="">
              <img src="../../images/nav_02.svg" alt="">
              <img src="../../images/nav_03.svg" alt="">
              <img src="../../images/nav_04.svg" alt="">
              <img src="../../images/nav_05.svg" alt="">
              <img src="../../images/nav_06.svg" alt="">
              <img src="../../images/nav_07.svg" alt="">
              <img src="../../images/nav_08.svg" alt="">
              <img src="../../images/nav_09.svg" alt="">
              <img src="../../images/nav_10.svg" alt="">
              <img src="../../images/nav_11.svg" alt="">
              <img src="../../images/nav_12.svg" alt="">
              <img src="../../images/nav_13.svg" alt="">
            </td>
            <td>
              <img src="../../images/nav_01_over.svg" alt="">
              <img src="../../images/nav_02_over.svg" alt="">
              <img src="../../images/nav_03_over.svg" alt="">
              <img src="../../images/nav_04_over.svg" alt="">
              <img src="../../images/nav_05_over.svg" alt="">
              <img src="../../images/nav_06_over.svg" alt="">
              <img src="../../images/nav_07_over.svg" alt="">
              <img src="../../images/nav_08_over.svg" alt="">
              <img src="../../images/nav_09_over.svg" alt="">
              <img src="../../images/nav_10_over.svg" alt="">
              <img src="../../images/nav_11_over.svg" alt="">
              <img src="../../images/nav_12_over.svg" alt="">
              <img src="../../images/nav_13_over.svg" alt="">
            </td>
            <td style="background:#222;">
              <img src="../../images/dark/nav_01_over.svg" alt="">
              <img src="../../images/dark/nav_02_over.svg" alt="">
              <img src="../../images/dark/nav_03_over.svg" alt="">
              <img src="../../images/dark/nav_04_over.svg" alt="">
              <img src="../../images/dark/nav_05_over.svg" alt="">
              <img src="../../images/dark/nav_06_over.svg" alt="">
              <img src="../../images/dark/nav_07_over.svg" alt="">
              <img src="../../images/dark/nav_08_over.svg" alt="">
              <img src="../../images/dark/nav_09_over.svg" alt="">
              <img src="../../images/dark/nav_10_over.svg" alt="">
              <img src="../../images/dark/nav_11_over.svg" alt="">
              <img src="../../images/dark/nav_12_over.svg" alt="">
              <img src="../../images/dark/nav_13_over.svg" alt="">
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>




  </body>
</html>
