<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Popup</title>
    <link href="../../script/lib/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="../../css/common.css" rel="stylesheet">
    <link href="../../css/content.css" rel="stylesheet">
    <script src="../../script/lib/jquery-3.4.1.min.js"></script>
    <script src="../../script/lib/jquery-ui.js"></script>
    <script src="../../script/lib/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../script/ui_common.js"></script>
    <script type="text/javascript">
      $(function(){



        var height = 500;
        var width = 500;


        var dimHtml = '<div class="dim"></div>';
        var html = '<div class="pop_wrap" style="width:'+ width +'px; height:' + height + 'px"></div>';




        $("body").append(dimHtml);
        $("body").append(html);
        $(".pop_wrap").load("../ADM/ADM017.html");



      });
    </script>
  </head>
  <body>

    <div class="detail_wrap">
      <div class="tit_wrap">
        <div class="tit_left">
          <h2>Popup</h2>
        </div>
      </div>






    </div>























  </body>
</html>
