<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Popup</title>
    <link href="../../script/lib/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="../../css/common.css" rel="stylesheet">
    <link href="../../css/content.css" rel="stylesheet">
    <script src="../../script/lib/jquery-3.4.1.min.js"></script>
    <script src="../../script/lib/jquery-ui.js"></script>
    <script src="../../script/lib/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../script/ui_common.js"></script>
    <script type="text/javascript">
      $(function(){

        $(".ip_del").inputTextFocus();



        $("#btnOpenPopup").on("click", function(e){
          layerPopup($("#ipUrl").val(), $("#ipId").val(), $("#ipWidth").val(), $("#ipHeight").val());
          e.preventDefault();
        });

      });


      function layerPopup(url, popId, width, height) {
        console.log($(window).scrollTop());
        var left = ($(document).width()/2) - (width/2);
        var top = ($(document).height()/2) - (height/2) + $(window).scrollTop();
        var dimHtml = '<div class="dim"></div>';
        var popHtml = '<div class="pop_wrap" id="'+popId+'" style="width:'+ width +'px; height:' + height + 'px; left:'+left+'px; top:'+top+'px;"></div>';
        var $dimHtml = $(dimHtml);
        var $popHtml = $(popHtml);


        $popHtml.load(url + " .layer_pop_wrap", function() {

         // ready
          $popHtml.find(".ip_del").inputTextFocus();

          // 닫기
          $popHtml.find(".btn_closed").on("click", function(){
            $popHtml.remove();
            $dimHtml.remove();
          });
        });

        $("body").append($dimHtml).append($popHtml);
      }




    </script>
  </head>
  <body>

    <div class="detail_wrap">
      <div class="tit_wrap">
        <div class="tit_left">
          <h2>Popup</h2>
        </div>
      </div>


      <div class="list_form_wrap w665">
        <ul class="list_form">
          <li>
            <label for="" class="lb_txt req">URL</label>
            <span class="ip_del"><input type="text" class="ip_txt" value="../ADM/ADM017.html" id="ipUrl"><a href="#" class="btn_txt_del">삭제</a></span>
          </li>
        </ul>
        <ul class="list_form">
          <li>
            <label for="" class="lb_txt req">POPUP ID</label>
            <span class="ip_del"><input type="text" class="ip_txt" value="id01" id="ipId"><a href="#" class="btn_txt_del">삭제</a></span>
          </li>
        </ul>
        <ul class="list_form">
          <li>
            <label for="" class="lb_txt req">Width</label>
            <span class="ip_del"><input type="text" class="ip_txt" value="500" id="ipWidth"><a href="#" class="btn_txt_del">삭제</a></span>
          </li>
          <li>
            <label for="" class="lb_txt">Height</label>
            <span class="ip_del"><input type="text" class="ip_txt"  value="500"  id="ipHeight"><a href="#" class="btn_txt_del">삭제</a></span>
          </li>
        </ul>
      </div>

      <div class="btn_bottom">
        <div class="left">
          <a href="#" class="btn act" id="btnOpenPopup">Popup</a>
        </div>
        <div class="right">
        </div>
      </div>

    </div>























  </body>
</html>
