<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Title</title>
    <link href="../../css/common.css" rel="stylesheet">
    <link href="../../css/content.css" rel="stylesheet">
  </head>
  <body>

    <div class="detail_wrap">

      <div class="tit_wrap">
        <div class="tit_left">
          <h2>1Depth Title</h2>
        </div>
        <div class="tit_right">
          <div class="btn_list">
            <a href="#" class="btn">New Order</a>
            <a href="#" class="btn line">Download</a>
          </div>
        </div>
      </div>

      <br>
      <br>

      <div class="tit_wrap">
        <div class="tit_left">
          <h2>Sub main Title</h2>
          <span class="total">68</span>
        </div>
      </div>

      <br>
      <br>


      <div class="tit_wrap">
        <div class="tit_left">
          <h4>Sub Title</h4>
        </div>
        <div class="tit_right">
          <div class="btn_list">
            <a href="#" class="btn sm">Report</a>
          </div>
        </div>
      </div>

      <br>
      <br>

      <div class="tit_wrap">
        <div class="tit_left">
          <h4>List Title ↓ ↓ ↓ ↓ ↓</h4>
        </div>
      </div>
      <div class="tit_wrap tit_list">
        <div class="tit_left">
          <span class="total_items">Total <span>9</span> Items</span>
        </div>
        <div class="tit_right">
          <ul class="list_opt">
            <li>
              <span class="ip_check"><input type="checkbox" name="" value="" id="check01"><label for="check01">View red items(2) only</label></span>
            </li>
            <li>
              <span>Order By</span>
              <a href="#" class="sort_list desc">KPI Score</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="tit_wrap tit_list">
        <div class="tit_left">
          <span class="total_items indent">Total <span>9</span> Items</span>
        </div>
        <div class="tit_right">
          <ul class="list_opt">
            <li>
              <span class="ip_check"><input type="checkbox" name="" value="" id="check02"><label for="check02">View red items(2) only</label></span>
            </li>
            <li>
              <span>Order By</span>
              <a href="#" class="sort_list desc">KPI Score</a>
            </li>
          </ul>
        </div>
      </div>


    </div>















  </body>
</html>
