<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="../../script/lib/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="../../css/common.css" rel="stylesheet">
    <link href="../../css/content.css" rel="stylesheet">
    <link href="../../css/yj.css" rel="stylesheet">
    <script src="../../script/lib/jquery-3.4.1.min.js"></script>
    <script src="../../script/lib/jquery-ui.js"></script>
    <script src="../../script/lib/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../script/ui_common.js"></script>
  </head>
  <body>

  </body>
</html>
