<!DOCTYPE html>
<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="../../script/lib/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="../../css/common.css" rel="stylesheet">
    <link href="../../css/content.css" rel="stylesheet">
    <link href="../../css/yj.css" rel="stylesheet">
    <script src="../../script/lib/jquery-3.4.1.min.js"></script>
    <script src="../../script/lib/jquery-ui.js"></script>
    <script src="../../script/lib/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="../../script/ui_common.js"></script>
  </head>
  <body>
    <!-- ebooking summary -->
    <div class="summary_wrap">
        <h2>Summary</h2>
        <div class="sum_inner01">
            <h3>Person in charge</h3>
            <div class="box_person">
                <ul class='sum_list'>
                    <li>
                        <dl>
                            <dt>Name of PIC at CJ Logistics</dt>
                            <dd>김여경</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>E-mail</dt>
                            <dd>email@cj.net</dd>
                        </dl>
                    </li>
                </ul>
                <ul class='sum_list'>
                    <li>
                        <dl>
                            <dt>Name of PIC at your company</dt>
                            <dd>Loso Kim</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>Phone</dt>
                            <dd>012-345-6789</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sum_inner02">
            <h3>Shipping information</h3>
            <div class="box_person">
                <ul class='sum_list'>
                    <li>
                        <dl>
                            <dt>Freight Method</dt>
                            <dd>Ocean Freight</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>Release Date</dt>
                            <dd>2020-04-04</dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>Origin</dt>
                            <dd>
                                <p>INC | Incheon National Airport, South Korea</p>
                                <p>ETA : 2020-04-05</p>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>Destination</dt>
                            <dd>
                                <p>USLAX | Los Angeles CA, USA</p>
                                <p>ETD : 2020-04-05</p>
                            </dd>
                        </dl>
                    </li>
                    <li>
                        <dl>
                            <dt>Item</dt>
                            <dd>Skin care</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sum_inner03">
            <h3>Cargo Detail</h3>
            <div class="box_person tbl_cargo">
                <table>
                    <thead>
                        <tr>
                            <th>Size(CBM)</th>
                            <th>Weight</th>
                            <th>Item Qty</th>
                            <th>Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>77</td>
                            <td>550</td>
                            <td>35</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>25</td>
                            <td>30</td>
                            <td>55</td>
                            <td>small box</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- //ebooking summary -->
  </body>
</html>
